Repository umee-network/umee, changes with the owners that .github/CODEOWNERS names for each.
All owners: @umee-network/core-devs, @umee-network/core-docs, @umee-network/core-oracle

.github/CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# NOTE: Order is important; the last matching pattern takes the
# most precedence.

# Primary repo maintainers
*                   @umee-network/core-devs

# Documentation
*.md                @umee-network/core-docs

# Oracle
/price-feeder/**    @umee-network/core-oracle
/x/oracle/**        @umee-network/core-oracle

chore: proto semicolon fix (#1312)
  proto/umee/oracle/v1/query.proto
  swagger/swagger.yaml
  x/oracle/types/query.pb.gw.go
Owners: @umee-network/core-devs, @umee-network/core-oracle

chore(price-feeder): update example config (#1317)
  price-feeder/price-feeder.example.toml
Owners: @umee-network/core-oracle

swagger updates
  swagger/swagger.yaml
Owners: @umee-network/core-devs

review
  proto/umee/leverage/v1/events.proto
  proto/umee/oracle/v1/events.proto
  x/leverage/keeper/msg_server.go
  x/leverage/types/events.pb.go
  x/oracle/types/events.pb.go
Owners: @umee-network/core-devs, @umee-network/core-oracle

review
  proto/umee/leverage/v1/events.proto
  x/leverage/keeper/msg_server.go
  x/leverage/types/events.pb.go
Owners: @umee-network/core-devs

update ibc-go to v5.0.0-rc1
  go.mod
  go.sum
  price-feeder/go.mod
  price-feeder/go.sum
Owners: @umee-network/core-devs, @umee-network/core-oracle

bump bech32-ibc
  go.mod
  go.sum
Owners: @umee-network/core-devs

bump gravity bridge
  go.mod
  go.sum
Owners: @umee-network/core-devs

removing TestGetTransferAccount
  app/app.go
  x/ibctransfer/keeper/keeper_test.go
Owners: @umee-network/core-devs

feat: use typed events (#1302)
  proto/umee/leverage/v1/events.proto
  proto/umee/leverage/v1/tx.proto
  proto/umee/oracle/v1/events.proto
  x/leverage/keeper/interest.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/oracle.go
  x/leverage/keeper/reserves.go
  x/leverage/simulation/operations.go
  x/leverage/simulation/operations_test.go
  x/leverage/types/events.go
  x/leverage/types/events.pb.go
  x/leverage/types/tx.go
  x/leverage/types/tx.pb.go
  x/oracle/abci.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/keeper_test.go
  x/oracle/keeper/msg_server.go
  x/oracle/types/events.go
  x/oracle/types/events.pb.go
Owners: @umee-network/core-devs, @umee-network/core-oracle

go mod tidy
  price-feeder/go.mod
  price-feeder/go.sum
Owners: @umee-network/core-oracle

fix: use MessageName for leverage Msg*.Route()
  x/leverage/types/tx.go
Owners: @umee-network/core-devs

remove legacymsg functions from oracle
  x/oracle/types/keys.go
  x/oracle/types/msgs.go
  x/oracle/types/msgs_test.go
Owners: @umee-network/core-oracle

chore: update ibc and related deps. (#1292)
  app/app.go
  go.mod
  go.sum
  price-feeder/go.mod
  price-feeder/go.sum
  tools/tools.go
  x/ibctransfer/ibc_module.go
  x/ibctransfer/keeper/keeper.go
  x/ibctransfer/keeper/keeper_test.go
  x/ibctransfer/keeper/util_test.go
Owners: @umee-network/core-devs, @umee-network/core-oracle

remove legacytx methods from oracle
  x/oracle/simulations/operations.go
  x/oracle/types/msgs.go
Owners: @umee-network/core-oracle

add codec
  x/oracle/simulations/operations.go
Owners: @umee-network/core-oracle

add max supply restriction and test case
  x/leverage/fixtures/token.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/types/errors.go
Owners: @umee-network/core-devs

fix: msg interface implementation (#1318)
  x/leverage/types/tx.go
  x/oracle/simulations/operations.go
  x/oracle/types/keys.go
  x/oracle/types/msgs.go
  x/oracle/types/msgs_test.go
Owners: @umee-network/core-devs, @umee-network/core-oracle

fix sim tests
  x/leverage/simulation/operations.go
  x/leverage/simulation/operations_test.go
Owners: @umee-network/core-devs

chore(price-feeder): mergify & changelog updates
  .mergify.yml
  price-feeder/CHANGELOG.md
Owners: @umee-network/core-devs, @umee-network/core-oracle

chore(price-feeder): mergify & changelog updates (#1320)
  .mergify.yml
  price-feeder/CHANGELOG.md
Owners: @umee-network/core-devs, @umee-network/core-oracle

refactor: improve leverage keeper tests and errors (#1300)
  CHANGELOG.md
  app/app.go
  x/leverage/client/tests/suite.go
  x/leverage/client/tests/tests.go
  x/leverage/fixtures/token.go
  x/leverage/keeper/borrows_test.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/collateral_test.go
  x/leverage/keeper/exchange_rate.go
  x/leverage/keeper/exchange_rate_test.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/interest_test.go
  x/leverage/keeper/invariants.go
  x/leverage/keeper/invariants_test.go
  x/leverage/keeper/iter_test.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/math_test.go
  x/leverage/keeper/oracle_test.go
  x/leverage/keeper/reserves_test.go
  x/leverage/keeper/suite_test.go
  x/leverage/keeper/token.go
  x/leverage/keeper/token_test.go
  x/leverage/keeper/validate.go
  x/leverage/simulation/operations.go
  x/leverage/simulation/operations_test.go
  x/leverage/types/errors.go
  x/leverage/types/token.go
  x/leverage/types/tx.go
Owners: @umee-network/core-docs, @umee-network/core-devs

chore(price-feeder): update prometheus default config
  price-feeder/price-feeder.example.toml
Owners: @umee-network/core-oracle

improve close factor
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/liquidate.go
Owners: @umee-network/core-devs

cl++
  CHANGELOG.md
Owners: @umee-network/core-docs

add validator address override option to votes & prevotes
  x/oracle/client/cli/tx.go
Owners: @umee-network/core-oracle

cl++
  CHANGELOG.md
Owners: @umee-network/core-docs

feat(oracle): validator address override option for cli prevotes & votes (#1323)
  CHANGELOG.md
  x/oracle/client/cli/tx.go
Owners: @umee-network/core-docs, @umee-network/core-oracle

added base test case
  x/leverage/keeper/liquidate_test.go
Owners: @umee-network/core-devs

use the right function for validator address from arg :angry:
  x/oracle/client/cli/tx.go
Owners: @umee-network/core-oracle

fix(cli): use the correct ValAddress function for votes & prevote delegations (#1325)
  x/oracle/client/cli/tx.go
Owners: @umee-network/core-oracle

finish test cases
  x/leverage/keeper/liquidate_test.go
Owners: @umee-network/core-devs

adding fee stats table
  ante/fee-notes.md
Owners: @umee-network/core-docs

update
  ante/fee-notes.md
  ante/spam_prevention.go
  x/oracle/keeper/keeper.go
Owners: @umee-network/core-docs, @umee-network/core-devs, @umee-network/core-oracle

move app constants to app/params
  ante/fee.go
  app/app.go
  app/modules.go
  app/params/app_settings.go
  app/test_helpers.go
Owners: @umee-network/core-devs

use appparams
  ante/fee.go
  app/app.go
  app/modules.go
  app/params/app_settings.go
  cmd/umeed/cmd/root.go
  cmd/umeed/main.go
  tests/simulation/sim_test.go
  x/leverage/client/tests/tests.go
  x/leverage/keeper/exchange_rate_test.go
  x/leverage/keeper/interest_test.go
  x/leverage/keeper/invariants_test.go
  x/leverage/keeper/oracle_test.go
  x/leverage/keeper/reserves_test.go
  x/leverage/keeper/suite_test.go
  x/leverage/simulation/operations_test.go
  x/leverage/types/keys_test.go
  x/oracle/client/tests/suite.go
  x/oracle/keeper/grpc_query_test.go
  x/oracle/keeper/hooks_test.go
  x/oracle/keeper/keeper_test.go
  x/oracle/types/asset.go
  x/oracle/types/keys_test.go
Owners: @umee-network/core-devs, @umee-network/core-oracle

move prefix settings to appparams
  app/app.go
  app/params/app_settings.go
  app/params/prefix.go
  cmd/umeed/cmd/debug.go
Owners: @umee-network/core-devs

markdown linting
  ante/fee-notes.md
Owners: @umee-network/core-docs

check consensus min-gas-price in app creator
  ante/fee.go
  cmd/umeed/cmd/app_creator.go
  cmd/umeed/cmd/root.go
Owners: @umee-network/core-devs

feat: add bitget provider
  price-feeder/config/config.go
  price-feeder/oracle/oracle.go
  price-feeder/oracle/provider/bitget.go
  price-feeder/oracle/provider/provider.go
Owners: @umee-network/core-oracle
