Repository umee-network/umee, changes with the owners that .github/CODEOWNERS names for each.
All owners: @umee-network/core-devs, @umee-network/core-docs, @umee-network/core-oracle

.github/CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# NOTE: Order is important; the last matching pattern takes the
# most precedence.

# Primary repo maintainers
*                   @umee-network/core-devs

# Documentation
*.md                @umee-network/core-docs

# Oracle
/price-feeder/**    @umee-network/core-oracle
/x/oracle/**        @umee-network/core-oracle

lint fixesssss
  price-feeder/oracle/provider/bitget.go
Owners: @umee-network/core-oracle

tests plz!
  price-feeder/oracle/provider/bitget_test.go
Owners: @umee-network/core-oracle

cl++
  price-feeder/CHANGELOG.md
Owners: @umee-network/core-oracle

fix e2e tests
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
Owners: @umee-network/core-devs

remove MaxAddrLen
  app/params/app_settings.go
Owners: @umee-network/core-devs

chore(price-feeder): update prometheus example config (#1321)
  price-feeder/price-feeder.example.toml
Owners: @umee-network/core-oracle

suggestion++
  x/leverage/keeper/liquidate_test.go
Owners: @umee-network/core-devs

applied godoc without formatting
  x/leverage/keeper/liquidate.go
Owners: @umee-network/core-devs

suggestion++
  x/leverage/keeper/liquidate.go
Owners: @umee-network/core-devs

suggestion++
  x/leverage/keeper/liquidate_test.go
Owners: @umee-network/core-devs

suggestion++
  x/leverage/keeper/liquidate_test.go
Owners: @umee-network/core-devs

change token validation and format comments
  x/leverage/keeper/liquidate.go
  x/leverage/keeper/liquidate_test.go
  x/leverage/types/token.go
Owners: @umee-network/core-devs

fix bug and add borrow value = exact liquidation threshold test case
  x/leverage/keeper/collateral.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/liquidate.go
  x/leverage/keeper/liquidate_test.go
Owners: @umee-network/core-devs

switch comparison order for consistency
  x/leverage/keeper/liquidate.go
Owners: @umee-network/core-devs

fix bitget pairs
  price-feeder/oracle/provider/bitget.go
  price-feeder/oracle/provider/bitget_test.go
Owners: @umee-network/core-oracle

lints + tests
  price-feeder/oracle/provider/bitget.go
  price-feeder/oracle/provider/bitget_test.go
Owners: @umee-network/core-oracle

cleanups, updates, whatever you want to call it
  price-feeder/oracle/provider/bitget.go
  price-feeder/oracle/provider/bitget_test.go
Owners: @umee-network/core-oracle

feat: implement MaxCollateralShare
  CHANGELOG.md
  x/leverage/keeper/collateral.go
  x/leverage/keeper/collateral_test.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/suite_test.go
Owners: @umee-network/core-docs, @umee-network/core-devs

cl++
  CHANGELOG.md
Owners: @umee-network/core-docs

feat: implement MaxSupplyUtilization
  CHANGELOG.md
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
Owners: @umee-network/core-docs, @umee-network/core-devs

cl++
  CHANGELOG.md
Owners: @umee-network/core-docs

query body
  x/leverage/keeper/borrows.go
  x/leverage/keeper/borrows_test.go
  x/leverage/keeper/grpc_query.go
Owners: @umee-network/core-devs

feat: implement MinCollateralLiquidity
  CHANGELOG.md
  x/leverage/keeper/collateral.go
  x/leverage/keeper/keeper.go
Owners: @umee-network/core-docs, @umee-network/core-devs

cl++
  CHANGELOG.md
Owners: @umee-network/core-docs

fix test
  x/leverage/keeper/collateral.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/suite_test.go
Owners: @umee-network/core-devs

fix merge
  x/leverage/keeper/collateral.go
Owners: @umee-network/core-devs

fix merge
  x/leverage/keeper/grpc_query.go
Owners: @umee-network/core-devs

fix merge
  x/leverage/keeper/collateral.go
  x/leverage/keeper/keeper.go
Owners: @umee-network/core-devs

combining query bodies
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/limits.go
Owners: @umee-network/core-devs

finish query
  x/leverage/keeper/grpc_query.go
Owners: @umee-network/core-devs

feat: improve EventReservesExhausted
  CHANGELOG.md
  proto/umee/leverage/v1/events.proto
  x/leverage/keeper/reserves.go
  x/leverage/types/events.pb.go
Owners: @umee-network/core-docs, @umee-network/core-devs

from
  CHANGELOG.md
  x/leverage/client/cli/tx.go
  x/leverage/client/tests/suite.go
  x/leverage/client/tests/tests.go
Owners: @umee-network/core-docs, @umee-network/core-devs

from (#1333)
  CHANGELOG.md
  x/leverage/client/cli/tx.go
  x/leverage/client/tests/suite.go
  x/leverage/client/tests/tests.go
Owners: @umee-network/core-docs, @umee-network/core-devs

feat: improve EventReservesExhausted (#1332)
  CHANGELOG.md
  proto/umee/leverage/v1/events.proto
  x/leverage/keeper/reserves.go
  x/leverage/types/events.pb.go
Owners: @umee-network/core-docs, @umee-network/core-devs

upgrade from mainnet
  .github/workflows/tests.yml
  .gitignore
  contrib/scripts/process_genesis.sh
  contrib/scripts/umeemainnet_fork.sh
  contrib/scripts/upgrade-test-single-node.sh
Owners: @umee-network/core-devs

remove git diff from CI to test
  .github/workflows/tests.yml
Owners: @umee-network/core-devs

set channel version
  x/ibctransfer/keeper/util_test.go
Owners: @umee-network/core-devs

add coping pv
  contrib/scripts/priv_validator_key-coping.json
Owners: @umee-network/core-devs

update test ci title
  .github/workflows/tests.yml
Owners: @umee-network/core-devs

add url to get the binary from releases (since mainnet will always be an release)
  contrib/scripts/umeemainnet_fork.sh
  contrib/scripts/upgrade-test-single-node.sh
Owners: @umee-network/core-devs
