Repository umee-network/umee, changes with the owners that .github/CODEOWNERS names for each.
All owners: @umee-network/core-devs, @umee-network/core-docs, @umee-network/core-oracle

use borrow and repay helpers
  x/leverage/keeper/interest_test.go
  x/leverage/keeper/invariants_test.go
  x/leverage/keeper/iter_test.go
  x/leverage/keeper/suite_test.go
Owners: @umee-network/core-devs

lint++
  x/leverage/types/errors.go
Owners: @umee-network/core-devs

always require.ErrorIs
  x/leverage/keeper/borrows_test.go
  x/leverage/keeper/collateral_test.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/oracle_test.go
Owners: @umee-network/core-devs

use forceBorrow helper rather than SetTokenSettings in high utilization test
  x/leverage/keeper/interest_test.go
Owners: @umee-network/core-devs

fix: single node script with liveness (#1306)
  .github/workflows/tests.yml
  .gitignore
  contrib/scripts/single-node.sh
  contrib/scripts/test_localnet_liveness.sh
Owners: @umee-network/core-devs

Update contrib/scripts/protocgen.sh
  contrib/scripts/protocgen.sh
Owners: @umee-network/core-devs

fix: price-feeder version (#1291)
  price-feeder/CHANGELOG.md
  price-feeder/Makefile
  price-feeder/cmd/version.go
Owners: @umee-network/core-oracle

fix collect-gentxs
  cmd/umeed/cmd/root.go
Owners: @umee-network/core-devs

fix validate genesis
  cmd/umeed/cmd/root.go
Owners: @umee-network/core-devs

fix: proto generator (#1301)
  contrib/scripts/protocgen.sh
  proto/buf.gen.gogo.yaml
Owners: @umee-network/core-devs

oracle events
  x/oracle/abci.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/keeper_test.go
  x/oracle/keeper/msg_server.go
Owners: @umee-network/core-oracle

oracle events proto
  proto/umee/oracle/v1/events.proto
  x/oracle/types/events.pb.go
Owners: @umee-network/core-devs, @umee-network/core-oracle

add typename implementation
  proto/umee/leverage/v1/tx.proto
  x/leverage/types/tx.pb.go
Owners: @umee-network/core-devs

remove events.go
  x/leverage/simulation/operations.go
  x/oracle/types/events.go
Owners: @umee-network/core-devs, @umee-network/core-oracle

remove not needed import
  proto/umee/leverage/v1/events.proto
  proto/umee/oracle/v1/events.proto
  x/leverage/types/events.pb.go
  x/oracle/types/events.pb.go
Owners: @umee-network/core-devs, @umee-network/core-oracle

feat: bump cosmos-sdk to v0.46.1 (#1285)
  app/app.go
  cmd/umeed/cmd/root.go
  go.mod
  go.sum
  price-feeder/go.mod
  price-feeder/go.sum
  tests/e2e/e2e_setup_test.go
Owners: @umee-network/core-devs, @umee-network/core-oracle

adding comments to proto
  proto/umee/leverage/v1/events.proto
  proto/umee/oracle/v1/events.proto
  x/leverage/types/events.pb.go
  x/oracle/types/events.pb.go
Owners: @umee-network/core-devs, @umee-network/core-oracle

sim tests update
  x/leverage/simulation/operations_test.go
Owners: @umee-network/core-devs

golanci linter
  x/leverage/keeper/oracle.go
  x/leverage/keeper/reserves.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/msg_server.go
Owners: @umee-network/core-devs, @umee-network/core-oracle

chore: remove abandoned linters
  .golangci.yml
Owners: @umee-network/core-devs

buf linting
  proto/umee/leverage/v1/events.proto
  x/leverage/types/events.pb.go
Owners: @umee-network/core-devs

fix sim tests
  x/leverage/simulation/operations.go
Owners: @umee-network/core-devs

fix
  x/leverage/simulation/operations.go
Owners: @umee-network/core-devs

lint
  x/leverage/simulation/operations.go
Owners: @umee-network/core-devs

chore: remove abandoned linters (#1309)
  .golangci.yml
Owners: @umee-network/core-devs

remove ignite/cli from tools.go
  tools/tools.go
Owners: @umee-network/core-devs

go mod tidy
  go.mod
  go.sum
  price-feeder/go.mod
  price-feeder/go.sum
Owners: @umee-network/core-devs, @umee-network/core-oracle

fix sims
  x/leverage/simulation/operations_test.go
Owners: @umee-network/core-devs

test fix
  x/leverage/simulation/operations_test.go
Owners: @umee-network/core-devs

test fix
  x/leverage/simulation/operations_test.go
Owners: @umee-network/core-devs

fix tests
  x/leverage/simulation/operations.go
  x/leverage/simulation/operations_test.go
Owners: @umee-network/core-devs

fix #1310
  x/leverage/simulation/operations_test.go
Owners: @umee-network/core-devs

fix(proto): minor semicolon proto fix
  proto/umee/oracle/v1/query.proto
Owners: @umee-network/core-devs

semicolon fix
  proto/umee/oracle/v1/query.proto
Owners: @umee-network/core-devs

make proto-gen
  swagger/swagger.yaml
  x/oracle/types/query.pb.gw.go
Owners: @umee-network/core-devs, @umee-network/core-oracle

re-add legacytx Type implementation
  x/leverage/types/tx.go
Owners: @umee-network/core-devs

fix simtest mesg deserialization
  x/leverage/simulation/operations_test.go
Owners: @umee-network/core-devs

fix sim tests
  x/leverage/simulation/operations_test.go
Owners: @umee-network/core-devs

chore: update example config for mainnet
  price-feeder/price-feeder.example.toml
Owners: @umee-network/core-oracle

Update price-feeder/price-feeder.example.toml
  price-feeder/price-feeder.example.toml
Owners: @umee-network/core-oracle

.github/CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# NOTE: Order is important; the last matching pattern takes the
# most precedence.

# Primary repo maintainers
*                   @umee-network/core-devs

# Documentation
*.md                @umee-network/core-docs

# Oracle
/price-feeder/**    @umee-network/core-oracle
/x/oracle/**        @umee-network/core-oracle
