Repository umee-network/umee, changes with the owners that .github/CODEOWNERS names for each.
All owners: @umee-network/core-devs, @umee-network/core-docs, @umee-network/core-oracle

.github/CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# NOTE: Order is important; the last matching pattern takes the
# most precedence.

# Primary repo maintainers
*                   @umee-network/core-devs

# Documentation
*.md                @umee-network/core-docs

# Oracle
/price-feeder/**    @umee-network/core-oracle
/x/oracle/**        @umee-network/core-oracle

fix: extra carriage-return, syntax
  util/sim/deliver.go
Owners: @umee-network/core-devs

fix: syntax + lint
  util/sim/deliver.go
Owners: @umee-network/core-devs

style
  util/sim/deliver.go
Owners: @umee-network/core-devs

doc: update release matrix
  README.md
Owners: @umee-network/core-docs

update GB release
  go.mod
  go.sum
  price-feeder/go.mod
  price-feeder/go.sum
Owners: @umee-network/core-devs, @umee-network/core-oracle

add log check to single node - testing ci
  contrib/scripts/single-node.sh
Owners: @umee-network/core-devs

set min gas price in app.toml to 0.05uumee
  cmd/umeed/cmd/app_creator.go
  contrib/scripts/single-node.sh
Owners: @umee-network/core-devs

update e2e to use uumee
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
  tests/e2e/scripts/hermes_bootstrap.sh
  tests/e2e/validator.go
Owners: @umee-network/core-devs

set fee to 10000uumee as needed by the transaction
  tests/e2e/e2e_test.go
Owners: @umee-network/core-devs

improve dockerfile to have base-builder
  umee.e2e.Dockerfile
Owners: @umee-network/core-devs

use correct versioning scheme
  go.mod
  go.sum
  price-feeder/go.mod
  price-feeder/go.sum
Owners: @umee-network/core-devs, @umee-network/core-oracle

test: add post-cleanup queries to leverage cli test
  x/leverage/client/tests/suite.go
  x/leverage/client/tests/tests.go
Owners: @umee-network/core-devs

use correct versioning scheme
  go.mod
  go.sum
  price-feeder/go.mod
  price-feeder/go.sum
Owners: @umee-network/core-devs, @umee-network/core-oracle

update GB release
  go.mod
  go.sum
  price-feeder/go.mod
  price-feeder/go.sum
Owners: @umee-network/core-devs, @umee-network/core-oracle

temporal gravity bridge module path update
  go.mod
  go.sum
Owners: @umee-network/core-devs

add double check for non empty ibcStakeDenom, somehow was passing
  tests/e2e/e2e_test.go
Owners: @umee-network/core-devs

revoked the max_gas to 6000000 on hermes
  tests/e2e/scripts/hermes_bootstrap.sh
Owners: @umee-network/core-devs

add one more step to docker helping to cache more packages and improve dev-ux
  umee.e2e.Dockerfile
Owners: @umee-network/core-devs

chore: v1.0.4 release notes
  CHANGELOG.md
  RELEASE_NOTES.md
Owners: @umee-network/core-docs

Update util/coin/math.go
  util/coin/math.go
Owners: @umee-network/core-devs
