Repository umee-network/umee, changes with the owners that .github/CODEOWNERS names for each.
All owners: @umee-network/core-devs, @umee-network/core-docs, @umee-network/core-oracle

test
  contrib/scripts/upgrade-test-single-node.sh
Owners: @umee-network/core-devs

fix cat of pid
  contrib/scripts/upgrade-test-single-node.sh
Owners: @umee-network/core-devs

test ci
  .github/workflows/tests.yml
Owners: @umee-network/core-devs

uncomment
  .github/workflows/tests.yml
Owners: @umee-network/core-devs

mod tidy all
  go.mod
Owners: @umee-network/core-devs

fix upgrade title
  .github/workflows/tests.yml
Owners: @umee-network/core-devs

update ci title
  .github/workflows/tests.yml
  contrib/scripts/umeemainnet_fork.sh
Owners: @umee-network/core-devs

test
  contrib/scripts/umeemainnet_fork.sh
Owners: @umee-network/core-devs

test
  contrib/scripts/umeemainnet_fork.sh
Owners: @umee-network/core-devs

test
  contrib/scripts/umeemainnet_fork.sh
Owners: @umee-network/core-devs

test
  contrib/scripts/umeemainnet_fork.sh
Owners: @umee-network/core-devs

fix unzip
  contrib/scripts/umeemainnet_fork.sh
Owners: @umee-network/core-devs

update sleep amount
  .github/workflows/tests.yml
  contrib/scripts/umeemainnet_fork.sh
Owners: @umee-network/core-devs

test
  contrib/scripts/umeemainnet_fork.sh
  contrib/scripts/upgrade-test-single-node.sh
Owners: @umee-network/core-devs

test
  contrib/scripts/umeemainnet_fork.sh
  contrib/scripts/upgrade-test-single-node.sh
Owners: @umee-network/core-devs

test
  contrib/scripts/upgrade-test-single-node.sh
Owners: @umee-network/core-devs

test
  contrib/scripts/umeemainnet_fork.sh
Owners: @umee-network/core-devs

test
  contrib/scripts/umeemainnet_fork.sh
  contrib/scripts/upgrade-test-single-node.sh
Owners: @umee-network/core-devs

linting
  x/ibctransfer/keeper/util_test.go
Owners: @umee-network/core-devs

fix: transfer tests (#1335)
  x/ibctransfer/keeper/util_test.go
Owners: @umee-network/core-devs

bump ibc-go
  go.mod
  go.sum
  price-feeder/go.mod
  price-feeder/go.sum
Owners: @umee-network/core-devs, @umee-network/core-oracle

use consensus protected gas price
  ante/fee.go
  cmd/umeed/cmd/app_creator.go
Owners: @umee-network/core-devs

suggestion++
  x/leverage/keeper/collateral.go
Owners: @umee-network/core-devs

fix GetAvailablePairs
  price-feeder/oracle/provider/bitget.go
Owners: @umee-network/core-oracle

remove unnecessary var in suite
  x/leverage/keeper/suite_test.go
Owners: @umee-network/core-devs

fix bitget err msg
  price-feeder/oracle/provider/bitget.go
Owners: @umee-network/core-oracle

fix reconnection logic
  price-feeder/oracle/provider/bitget.go
Owners: @umee-network/core-oracle

feat(price-feeder): add bitget provider (#1328)
  price-feeder/CHANGELOG.md
  price-feeder/config/config.go
  price-feeder/oracle/oracle.go
  price-feeder/oracle/provider/bitget.go
  price-feeder/oracle/provider/bitget_test.go
  price-feeder/oracle/provider/provider.go
Owners: @umee-network/core-oracle

fix: fix websocket reconnection logic
  price-feeder/oracle/provider/binance.go
  price-feeder/oracle/provider/bitget.go
  price-feeder/oracle/provider/coinbase.go
  price-feeder/oracle/provider/gate.go
  price-feeder/oracle/provider/huobi.go
  price-feeder/oracle/provider/kraken.go
  price-feeder/oracle/provider/okx.go
Owners: @umee-network/core-oracle

cl++
  price-feeder/CHANGELOG.md
Owners: @umee-network/core-oracle

refactor to remove duplicated TotalCollateral calculation
  x/leverage/keeper/collateral.go
  x/leverage/keeper/keeper.go
Owners: @umee-network/core-devs

feat: implement MaxCollateralShare (#1329)
  CHANGELOG.md
  x/leverage/keeper/collateral.go
  x/leverage/keeper/collateral_test.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/suite_test.go
Owners: @umee-network/core-docs, @umee-network/core-devs

rename to Liquidity to AvailableLiquidity
  x/leverage/keeper/borrows.go
  x/leverage/keeper/borrows_test.go
  x/leverage/keeper/grpc_query.go
Owners: @umee-network/core-devs

simplified upgrade scripts
  contrib/scripts/blocks.sh
  contrib/scripts/umeemainnet_fork.sh
  contrib/scripts/upgrade-test-single-node.sh
Owners: @umee-network/core-devs

add mexc provider
  price-feeder/config/config.go
  price-feeder/oracle/oracle.go
  price-feeder/oracle/provider/mexc.go
  price-feeder/oracle/provider/mexc_test.go
  price-feeder/oracle/provider/provider.go
Owners: @umee-network/core-oracle

lint++
  x/leverage/keeper/collateral.go
Owners: @umee-network/core-devs

feat: implement MaxSupplyUtilization (#1330)
  CHANGELOG.md
  x/leverage/keeper/borrows.go
  x/leverage/keeper/borrows_test.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
Owners: @umee-network/core-docs, @umee-network/core-devs

add var for MAINNET_EXPORTED_GENESIS_URL
  contrib/scripts/umeemainnet_fork.sh
Owners: @umee-network/core-devs

fix rename merge
  x/leverage/keeper/collateral.go
Owners: @umee-network/core-devs

fix(price-feeder): fix websocket reconnection logic (#1338)
  price-feeder/CHANGELOG.md
  price-feeder/oracle/provider/binance.go
  price-feeder/oracle/provider/bitget.go
  price-feeder/oracle/provider/coinbase.go
  price-feeder/oracle/provider/gate.go
  price-feeder/oracle/provider/huobi.go
  price-feeder/oracle/provider/kraken.go
  price-feeder/oracle/provider/okx.go
Owners: @umee-network/core-oracle

.github/CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# NOTE: Order is important; the last matching pattern takes the
# most precedence.

# Primary repo maintainers
*                   @umee-network/core-devs

# Documentation
*.md                @umee-network/core-docs

# Oracle
/price-feeder/**    @umee-network/core-oracle
/x/oracle/**        @umee-network/core-oracle
