Repository umee-network/umee, changes with the owners that .github/CODEOWNERS names for each.
All owners: @umee-network/core-devs, @umee-network/core-docs, @umee-network/core-oracle

imports
  x/leverage/keeper/exchange_rate_test.go
  x/leverage/keeper/interest_test.go
  x/leverage/keeper/invariants_test.go
  x/leverage/keeper/reserves_test.go
  x/leverage/keeper/suite_test.go
Owners: @umee-network/core-devs

lint++
  x/leverage/keeper/keeper.go
  x/leverage/keeper/validate.go
Owners: @umee-network/core-devs

fix test
  x/leverage/keeper/borrows_test.go
Owners: @umee-network/core-devs

++
  x/leverage/keeper/borrows_test.go
Owners: @umee-network/core-devs

cl++
  CHANGELOG.md
Owners: @umee-network/core-docs

remove unnecessary interface
  x/leverage/client/tests/suite.go
Owners: @umee-network/core-devs

move function
  x/leverage/keeper/invariants_test.go
  x/leverage/keeper/suite_test.go
Owners: @umee-network/core-devs

typo
  x/leverage/keeper/interest.go
Owners: @umee-network/core-devs

fix: safeguard LastInterestTime against hard forks (#1288)
  CHANGELOG.md
  x/leverage/keeper/interest.go
  x/leverage/keeper/keeper_test.go
  x/leverage/types/errors.go
Owners: @umee-network/core-docs, @umee-network/core-devs

feat: compute proper tx prioritization (#1290)
  ante/fee.go
  ante/fee_unit_test.go
Owners: @umee-network/core-devs

feat: add typed events
  proto/umee/leverage/v1/events.proto
  x/leverage/keeper/msg_server.go
  x/leverage/types/events.pb.go
Owners: @umee-network/core-devs

wip
  contrib/scripts/protocgen.sh
  proto/umee/leverage/v1/events.proto
  x/leverage/types/events.pb.go
  x/oracle/types/query.pb.gw.go
Owners: @umee-network/core-devs, @umee-network/core-oracle

fix: proto generator
  contrib/scripts/protocgen.sh
  proto/buf.gen.gogo.yaml
Owners: @umee-network/core-devs

chore: migrate jwt-go dependency
  go.mod
  go.sum
Owners: @umee-network/core-devs

chore: migrate jwt-go dependency (#1304)
  go.mod
  go.sum
Owners: @umee-network/core-devs

fix e2e tendermint default config
  tests/e2e/e2e_setup_test.go
Owners: @umee-network/core-devs

comment update
  go.mod
Owners: @umee-network/core-devs

events definition
  proto/umee/leverage/v1/events.proto
Owners: @umee-network/core-devs

proto: add scalar annotations
  proto/umee/leverage/v1/events.proto
Owners: @umee-network/core-devs

add nullable annotations
  proto/umee/leverage/v1/events.proto
Owners: @umee-network/core-devs

rename EventWithdraw.redeemed to asset
  proto/umee/leverage/v1/events.proto
Owners: @umee-network/core-devs

rename asset to uasset when it is more relevant
  proto/umee/leverage/v1/events.proto
Owners: @umee-network/core-devs

migrate to typed events in x/leverage
  x/leverage/keeper/msg_server.go
  x/leverage/types/events.pb.go
Owners: @umee-network/core-devs

add EventInterestAccrual
  proto/umee/leverage/v1/events.proto
  x/leverage/keeper/interest.go
  x/leverage/types/events.go
  x/leverage/types/events.pb.go
  x/leverage/types/tx.go
Owners: @umee-network/core-devs

review updates
  price-feeder/oracle/provider/ftx.go
  price-feeder/oracle/provider/mock.go
  price-feeder/oracle/provider/osmosis.go
  price-feeder/oracle/types/errors.go
Owners: @umee-network/core-oracle

coinbaseTimeFmt
  price-feeder/oracle/provider/coinbase.go
Owners: @umee-network/core-oracle

add reserves events
  proto/umee/leverage/v1/events.proto
  x/leverage/keeper/reserves.go
  x/leverage/types/events.pb.go
Owners: @umee-network/core-devs

update outstanding events in x/leverage
  proto/umee/leverage/v1/events.proto
  x/leverage/keeper/oracle.go
  x/leverage/keeper/reserves.go
  x/leverage/types/events.pb.go
Owners: @umee-network/core-devs

small optimizations
  x/leverage/keeper/msg_server.go
Owners: @umee-network/core-devs

review suggestions
  price-feeder/oracle/provider/ftx.go
Owners: @umee-network/core-oracle

cl++
  price-feeder/CHANGELOG.md
Owners: @umee-network/core-oracle

apply s.app, s.ctx, and s.Require() shorthands
  x/leverage/keeper/borrows_test.go
  x/leverage/keeper/collateral_test.go
  x/leverage/keeper/exchange_rate_test.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/interest_test.go
  x/leverage/keeper/invariants_test.go
  x/leverage/keeper/iter_test.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/oracle_test.go
  x/leverage/keeper/reserves_test.go
  x/leverage/keeper/suite_test.go
  x/leverage/keeper/token_test.go
Owners: @umee-network/core-devs

apply coin shorthand in keeper_test package
  x/leverage/keeper/borrows_test.go
  x/leverage/keeper/collateral_test.go
  x/leverage/keeper/interest_test.go
  x/leverage/keeper/invariants_test.go
  x/leverage/keeper/iter_test.go
  x/leverage/keeper/oracle_test.go
  x/leverage/keeper/reserves_test.go
Owners: @umee-network/core-devs

feat(price-feeder): add ftx (#1299)
  price-feeder/CHANGELOG.md
  price-feeder/README.md
  price-feeder/config/config.go
  price-feeder/oracle/oracle.go
  price-feeder/oracle/provider/coinbase.go
  price-feeder/oracle/provider/ftx.go
  price-feeder/oracle/provider/ftx_test.go
  price-feeder/oracle/provider/mock.go
  price-feeder/oracle/provider/osmosis.go
  price-feeder/oracle/provider/provider.go
  price-feeder/oracle/types/errors.go
Owners: @umee-network/core-oracle

use setReserves helper
  x/leverage/keeper/borrows_test.go
  x/leverage/keeper/exchange_rate_test.go
  x/leverage/keeper/invariants_test.go
  x/leverage/keeper/reserves_test.go
  x/leverage/keeper/suite_test.go
Owners: @umee-network/core-devs

improve big number readability
  x/leverage/keeper/borrows_test.go
  x/leverage/keeper/interest_test.go
  x/leverage/keeper/invariants_test.go
  x/leverage/keeper/iter_test.go
  x/leverage/keeper/oracle_test.go
  x/leverage/keeper/reserves_test.go
  x/leverage/keeper/suite_test.go
Owners: @umee-network/core-devs

test single node script with liveness
  .github/workflows/tests.yml
  .gitignore
  contrib/scripts/single-node.sh
  contrib/scripts/test_localnet_liveness.sh
Owners: @umee-network/core-devs

remove check to test CI
  .github/workflows/tests.yml
Owners: @umee-network/core-devs

add check to git diff again
  .github/workflows/tests.yml
Owners: @umee-network/core-devs

ensure espected value is on the left for all require.Equal
  x/leverage/keeper/interest_test.go
  x/leverage/keeper/math_test.go
  x/leverage/keeper/reserves_test.go
  x/leverage/keeper/token_test.go
Owners: @umee-network/core-devs

.github/CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# NOTE: Order is important; the last matching pattern takes the
# most precedence.

# Primary repo maintainers
*                   @umee-network/core-devs

# Documentation
*.md                @umee-network/core-docs

# Oracle
/price-feeder/**    @umee-network/core-oracle
/x/oracle/**        @umee-network/core-oracle
