Repository umee-network/umee, changes with the owners that .github/CODEOWNERS names for each.
All owners: @umee-network/core-devs, @umee-network/core-docs, @umee-network/core-oracle

fix merge
  x/leverage/keeper/keeper.go
Owners: @umee-network/core-devs

suggestion++
  x/leverage/fixtures/token.go
Owners: @umee-network/core-devs

suggestion++
  x/leverage/keeper/keeper_test.go
Owners: @umee-network/core-devs

follow suggested underscore
  x/leverage/keeper/keeper_test.go
Owners: @umee-network/core-devs

Fix test
  x/leverage/keeper/keeper.go
Owners: @umee-network/core-devs

typo
  x/leverage/keeper/collateral.go
Owners: @umee-network/core-devs

fix test
  x/leverage/keeper/keeper.go
Owners: @umee-network/core-devs

cl++
  CHANGELOG.md
Owners: @umee-network/core-docs

make go-mod-tidy
  price-feeder/go.mod
  price-feeder/go.sum
Owners: @umee-network/core-oracle

feat: implement MinCollateralLiquidity (#1331)
  CHANGELOG.md
  x/leverage/keeper/collateral.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/limits.go
Owners: @umee-network/core-docs, @umee-network/core-devs

update tests
  ante/fee_test.go
Owners: @umee-network/core-devs

formatting
  ante/fee-notes.md
  ante/fee.go
Owners: @umee-network/core-docs, @umee-network/core-devs

test update
  ante/fee_test.go
Owners: @umee-network/core-devs

removed coping from name
  contrib/scripts/priv_validator_key.json
  contrib/scripts/umeemainnet_fork.sh
Owners: @umee-network/core-devs

feat: improve close factor (#1322)
  CHANGELOG.md
  x/leverage/keeper/collateral.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/liquidate.go
  x/leverage/keeper/liquidate_test.go
  x/leverage/types/token.go
Owners: @umee-network/core-docs, @umee-network/core-devs

feat: implement MaxSupply (#1319)
  CHANGELOG.md
  x/leverage/fixtures/token.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/types/errors.go
Owners: @umee-network/core-docs, @umee-network/core-devs

feat: automatically clear blacklisted collateral
  CHANGELOG.md
  x/leverage/keeper/filter.go
  x/leverage/keeper/iter.go
  x/leverage/keeper/reserves.go
Owners: @umee-network/core-docs, @umee-network/core-devs

cl++
  CHANGELOG.md
  x/leverage/keeper/validate.go
Owners: @umee-network/core-docs, @umee-network/core-devs

Apply suggestions from code review
  .gitignore
  contrib/scripts/blocks.sh
  contrib/scripts/umeemainnet_fork.sh
  contrib/scripts/upgrade-test-single-node.sh
Owners: @umee-network/core-devs

remove coping node name
  contrib/scripts/umeemainnet_fork.sh
  contrib/scripts/upgrade-test-single-node.sh
Owners: @umee-network/core-devs

don't charge fee for txs in the first block (genesis)
  ante/fee.go
  app/test_helpers.go
Owners: @umee-network/core-devs

fix leverage tests
  x/leverage/client/tests/suite.go
  x/oracle/client/tests/suite.go
Owners: @umee-network/core-devs, @umee-network/core-oracle

update gas settings for leverage simtest
  app/params/app_settings.go
  x/leverage/simulation/operations.go
Owners: @umee-network/core-devs

feat(price-feeder): add bitget provider (#1328)
  price-feeder/CHANGELOG.md
  price-feeder/config/config.go
  price-feeder/oracle/oracle.go
  price-feeder/oracle/provider/bitget.go
  price-feeder/oracle/provider/bitget_test.go
  price-feeder/oracle/provider/provider.go
Owners: @umee-network/core-oracle

add coin math util lib
  util/coin/math.go
Owners: @umee-network/core-devs

update fee tests
  ante/fee_test.go
Owners: @umee-network/core-devs

chore(price-feeder): mergify & changelog updates (#1320)
  .mergify.yml
  price-feeder/CHANGELOG.md
Owners: @umee-network/core-devs, @umee-network/core-oracle

linting
  x/leverage/client/tests/suite.go
Owners: @umee-network/core-devs

fix(price-feeder): fix websocket reconnection logic (#1338)
  price-feeder/CHANGELOG.md
  price-feeder/oracle/provider/binance.go
  price-feeder/oracle/provider/bitget.go
  price-feeder/oracle/provider/coinbase.go
  price-feeder/oracle/provider/gate.go
  price-feeder/oracle/provider/huobi.go
  price-feeder/oracle/provider/kraken.go
  price-feeder/oracle/provider/okx.go
Owners: @umee-network/core-oracle

adding new genmap module
  util/genmap/doc.go
  util/genmap/genmap.go
  util/genmap/genmap_test.go
Owners: @umee-network/core-devs

filter sim modules
  app/app.go
Owners: @umee-network/core-devs

update tests :^)
  price-feeder/oracle/provider/mexc_test.go
Owners: @umee-network/core-oracle

add util/sim package
  util/sim/deliver.go
Owners: @umee-network/core-devs

stop storing mexc tickers & candles as response objects
  price-feeder/oracle/provider/mexc.go
  price-feeder/oracle/provider/mexc_test.go
Owners: @umee-network/core-oracle

refactor sim module manager
  app/app.go
  tests/simulation/sim_test.go
  x/leverage/simulation/operations.go
Owners: @umee-network/core-devs

add account funding to umee sim tests
  ante/fee.go
  util/sim/deliver.go
  x/leverage/module.go
  x/leverage/simulation/operations.go
  x/oracle/module.go
  x/oracle/simulations/operations.go
  x/oracle/types/expected_keeper.go
Owners: @umee-network/core-devs, @umee-network/core-oracle

fix leverage query test
  x/leverage/client/tests/suite.go
Owners: @umee-network/core-devs

comment back err check
  ante/spam_prevention.go
  x/leverage/client/tests/suite.go
Owners: @umee-network/core-devs

linting
  app/app.go
  util/sim/deliver.go
Owners: @umee-network/core-devs

lint
  util/sim/deliver.go
Owners: @umee-network/core-devs

.github/CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# NOTE: Order is important; the last matching pattern takes the
# most precedence.

# Primary repo maintainers
*                   @umee-network/core-devs

# Documentation
*.md                @umee-network/core-docs

# Oracle
/price-feeder/**    @umee-network/core-oracle
/x/oracle/**        @umee-network/core-oracle
