Repository umee-network/umee, pull requests merged in 2021-09, with the labels that each got.

#89 chore: Add toteki to CODEOWNERS
  .github/CODEOWNERS
Labels: A:Automerge

#88 chore: bump gravity bridge version
  Dockerfile
  go.mod
  go.sum
Labels: T:Dependencies, A:Automerge

#103 chore: add super-linter to CI
  .github/workflows/lint.yml
  .markdownlint.yml
  README.md
Labels: T:CI, A:Automerge

#86 docs: ADR 001 and 002
  docs/architecture/ADR-001-interest-stream.md
  docs/architecture/ADR-002-deposit-assets.md
  docs/architecture/README.md
  docs/architecture/adr-template.md
Labels: C:Docs

#106 chore: bump gravity bridge version
  Dockerfile
  go.mod
  go.sum
Labels: A:Automerge, S:backport/v0.2.x

#113 chore: x/leverage tweaks
  .github/workflows/proto.yml
  proto/umee/leverage/v1beta1/tx.proto
  x/leverage/handle_lend.go
  x/leverage/handler.go
  x/leverage/keeper/msg_server.go
  x/leverage/module.go
  x/leverage/types/tx.pb.go
Labels: C:x/leverage

#118 chore: x/leverage storage updates
  app/app.go
  app/test_helpers.go
  x/ibctransfer/keeper/util_test.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/query.go
  x/leverage/keeper/tokens.go
  x/leverage/module.go
  x/leverage/types/codec.go
  x/leverage/types/errors.go
  x/leverage/types/expected_types.go
  x/leverage/types/genesis.go
  x/leverage/types/keys.go
  x/leverage/types/token.go
  x/leverage/types/token_test.go
  x/leverage/types/tx.go
  x/leverage/types/types.go
Labels: C:x/leverage

#124 chore: x/leverage: msg server updates
  .golangci.yml
  x/leverage/keeper/msg_server.go
  x/leverage/types/events.go
Labels: C:x/leverage, A:Automerge

#127 chore: bump Go and downgrade TM
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  Dockerfile
  README.md
  go.mod
  go.sum
Labels: T:Dependencies, A:Automerge, S:backport/v0.2.x

#130 docs: ADR-002 housekeeping
  docs/architecture/ADR-002-deposit-assets.md
Labels: C:x/leverage, C:Docs

#123 docs: adr-003 borrow assets
  docs/architecture/ADR-003-borrow-assets.md
  docs/architecture/README.md
Labels: C:x/leverage, C:Docs

#129 feat: x/leverage - init params
  app/app.go
  go.mod
  go.sum
  proto/umee/leverage/v1beta1/genesis.proto
  proto/umee/leverage/v1beta1/gov.proto
  proto/umee/leverage/v1beta1/leverage.proto
  x/leverage/genesis.go
  x/leverage/gov_handler.go
  x/leverage/keeper/asset.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/params.go
  x/leverage/types/asset.go
  x/leverage/types/asset_test.go
  x/leverage/types/genesis.go
  x/leverage/types/genesis.pb.go
  x/leverage/types/gov.pb.go
  x/leverage/types/keys.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/params.go
Labels: C:x/leverage, A:Automerge
