Repository umee-network/umee, pull requests merged in 2021-11, with the labels that each got.

#194 refactor: update ERC20 mapping
  proto/umee/peggy/v1/genesis.proto
  x/peggy/keeper/attestation_handler.go
  x/peggy/keeper/cosmos_originated.go
  x/peggy/keeper/genesis.go
  x/peggy/keeper/keeper.go
  x/peggy/keeper/pool.go
  x/peggy/testpeggy/common.go
  x/peggy/types/errors.go
  x/peggy/types/genesis.go
  x/peggy/types/genesis.pb.go
Labels: S:backport/v0.4.x, C:x/peggy

#197 fix: fix bank metadata
  app/modules.go
Labels: S:backport/v0.4.x

#201 feat: x/peggy ERC20 mapping CLI queries
  starport.ci.yml
  x/peggy/client/cli/query.go
Labels: A:Automerge, S:backport/v0.4.x, C:x/peggy

#203 feat: add peggy to e2e test suite
  .github/workflows/tests.yml
  Dockerfile
  app/app.go
  app/modules.go
  go.mod
  go.sum
  proto/umee/peggy/v1/query.proto
  tests/e2e/doc.go
  tests/e2e/docker/hermes.Dockerfile
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
  tests/e2e/scripts/hermes_bootstrap.sh
  x/ibctransfer/keeper/keeper.go
  x/ibctransfer/keeper/keeper_test.go
  x/peggy/keeper/attestation_handler.go
  x/peggy/keeper/batch.go
  x/peggy/types/query.pb.go
  x/peggy/types/query.pb.gw.go
Labels: T:Test, S:backport/v0.4.x, C:x/peggy

#215 chore: e2e updates
  Dockerfile
  tests/e2e/e2e_setup_test.go
Labels: A:Automerge, S:backport/v0.4.x

#217 chore: bump IBC to v2.0.0
  app/app.go
  go.mod
  go.sum
  tests/e2e/e2e_test.go
  x/ibctransfer/keeper/keeper.go
  x/ibctransfer/keeper/keeper_test.go
  x/ibctransfer/keeper/util_test.go
  x/ibctransfer/module.go
Labels: T:Dependencies, S:backport/v0.4.x

#223 fix: x/peggy: Use reverse iterator and add tests
  x/peggy/keeper/pool.go
  x/peggy/keeper/pool_test.go
Labels: C:x/peggy

#209 feat: add ballot functions to oracle
  x/oracle/ballot.go
Labels: C:x/oracle

#221 feat: Add slashing functions to oracle
  x/oracle/ballot.go
  x/oracle/slash.go
Labels: C:x/oracle

#220 feat: rotate orchestrator addresses
  Makefile
  app/app.go
  app/test_helpers.go
  proto/umee/peggy/v1/msgs.proto
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
  x/peggy/client/cli/tx.go
  x/peggy/client/tests/cli_test.go
  x/peggy/client/tests/suite.go
  x/peggy/keeper/batch_test.go
  x/peggy/keeper/keeper.go
  x/peggy/keeper/keeper_test.go
  x/peggy/keeper/msg_server.go
  x/peggy/keeper/msg_server_test.go
  x/peggy/keeper/util_test.go
  x/peggy/spec/04_messages.md
  x/peggy/testpeggy/common.go
  x/peggy/types/codec.go
  x/peggy/types/errors.go
  x/peggy/types/ethereum_signer.go
  x/peggy/types/events.go
  x/peggy/types/expected_keepers.go
  x/peggy/types/msgs.go
  x/peggy/types/msgs.pb.go
  x/peggy/types/msgs_test.go
Labels: C:x/peggy

#231 fix: require x/peggy batch creators to be validator orchestrators
  x/peggy/keeper/msg_server.go
  x/peggy/keeper/msg_server_test.go
Labels: C:x/peggy

#233 chore: cleanup x/peggy CLI
  x/peggy/client/cli/query.go
  x/peggy/client/cli/tx.go
  x/peggy/client/tests/suite.go
  x/peggy/types/msgs.go
Labels: C:CLI, C:x/peggy

#235 fix: update registered tokens correctly on proposal
  x/leverage/gov_handler.go
  x/leverage/gov_handler_test.go
  x/leverage/keeper/token.go
  x/oracle/ballot.go
  x/oracle/keeper.go
Labels: C:x/leverage, C:x/peggy

#236 feat: gRPC handlers for x/leverage
  proto/umee/leverage/v1beta1/query.proto
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/query.go
  x/leverage/module.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
Labels: C:x/leverage

#238 chore: x/leverage CLI and tests
  proto/umee/leverage/v1beta1/leverage.proto
  proto/umee/leverage/v1beta1/query.proto
  x/leverage/client/cli/query.go
  x/leverage/client/cli/tx.go
  x/leverage/client/tests/cli_test.go
  x/leverage/client/tests/suite.go
  x/leverage/keeper/borrows.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/interest.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/reserves.go
  x/leverage/keeper/token.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
  x/leverage/types/tx.go
  x/peggy/client/cli/query.go
  x/peggy/client/cli/tx.go
  x/peggy/module.go
Labels: C:CLI, C:x/leverage

#240 chore: PR checklist += add PR labels
  .github/PULL_REQUEST_TEMPLATE.md
Labels: A:Automerge

#239 docs: ADR-005 Liquidation
  docs/architecture/ADR-005-liquidation.md
  docs/architecture/adr-template.md
Labels: C:x/leverage, C:Docs
