Repository umee-network/umee, pull requests merged in 2021-12, with the labels that each got.

#248 chore: update ibc-rs version in e2e tests
  Makefile
  go.sum
  tests/e2e/docker/hermes.Dockerfile
  tests/e2e/e2e_test.go
  tests/e2e/scripts/hermes_bootstrap.sh
Labels: T:Test, T:Dependencies

#241 feat: Implement price feeder
  price-feeder/cmd/price-feeder.go
  price-feeder/cmd/version.go
  price-feeder/config/config.go
  price-feeder/config/config_test.go
  price-feeder/go.mod
  price-feeder/go.sum
  price-feeder/oracle/client/client.go
  price-feeder/oracle/oracle.go
  price-feeder/price-feeder.example.toml
Labels: C:x/oracle

#252 fix!: Prevent bridging assets to Ethereum where the recipient address is empty
  x/peggy/keeper/msg_server.go
  x/peggy/types/ethereum.go
  x/peggy/types/msgs.go
  x/peggy/types/msgs_test.go
Labels: C:x/peggy

#249 docs: ADR-006 Oracle
  docs/architecture/ADR-006-oracle.md
Labels: C:x/oracle

#260 refactor: Price Feeder VWAP
  go.sum
  price-feeder/oracle/oracle.go
  price-feeder/oracle/provider/binance.go
  price-feeder/oracle/provider/binance_test.go
  price-feeder/oracle/provider/kraken.go
  price-feeder/oracle/provider/kraken_test.go
  price-feeder/oracle/provider/provider.go
  price-feeder/oracle/util.go
  price-feeder/oracle/util_test.go
Labels: C:x/oracle, C:Tools

#261 feat: Oracle cleanup
  go.mod
  go.sum
  proto/umee/oracle/v1beta1/genesis.proto
  proto/umee/oracle/v1beta1/oracle.proto
  proto/umee/oracle/v1beta1/query.proto
  x/oracle/genesis.go
  x/oracle/keeper/ballot.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/reward.go
  x/oracle/types/asset.go
  x/oracle/types/ballot_test.go
  x/oracle/types/denom.go
  x/oracle/types/errors.go
  x/oracle/types/genesis.go
  x/oracle/types/genesis.pb.go
  x/oracle/types/keys.go
  x/oracle/types/msgs_test.go
  x/oracle/types/oracle.pb.go
  x/oracle/types/params.go
  x/oracle/types/params_test.go
  x/oracle/types/querier.go
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
Labels: C:x/oracle

#269 fix: Place x/peggy EndBlocker after x/staking
  app/app.go
Labels: S:backport/v0.5.x, C:x/peggy

#264 feat: x/oracle voting
  proto/umee/oracle/v1beta1/oracle.proto
  proto/umee/oracle/v1beta1/query.proto
  x/leverage/keeper/grpc_query.go
  x/oracle/client/cli/query.go
  x/oracle/keeper/grpc_query.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/msg_server.go
  x/oracle/module.go
  x/oracle/types/msgs_test.go
  x/oracle/types/oracle.pb.go
  x/oracle/types/querier.go
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
  x/oracle/types/vote.go
  x/oracle/types/vote_test.go
Labels: C:x/oracle

#270 fix: Fix price feeder voting hash
  price-feeder/oracle/oracle.go
Labels: C:x/oracle

#258 feat: Liquidation
  proto/umee/leverage/v1beta1/leverage.proto
  proto/umee/leverage/v1beta1/tx.proto
  x/leverage/keeper/borrows.go
  x/leverage/keeper/exchange_rate.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/oracle.go
  x/leverage/keeper/token.go
  x/leverage/types/errors.go
  x/leverage/types/events.go
  x/leverage/types/expected_types.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/params.go
  x/leverage/types/token.go
  x/leverage/types/token_test.go
  x/leverage/types/tx.go
  x/leverage/types/tx.pb.go
Labels: C:x/leverage, T:Test

#273 fix: x/oracle cleanup
  proto/umee/oracle/v1beta1/query.proto
  x/oracle/keeper/grpc_query.go
  x/oracle/keeper/msg_server.go
  x/oracle/types/query.pb.go
Labels: C:x/oracle

#274 fix: oracle ticker timeout & retry logic
  price-feeder/oracle/client/client.go
  price-feeder/oracle/oracle.go
Labels: C:x/oracle

#278 refactor: x/peggy: Allow prefixed and non prefixed hex + Make keeper field private
  x/peggy/client/cli/tx.go
  x/peggy/keeper/attestation.go
  x/peggy/keeper/keeper.go
Labels: S:backport/v0.5.x, C:x/peggy

#280 refactor: token and uToken allow lists
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/token.go
  x/leverage/types/keys.go
Labels: C:x/leverage

#282 refactor: codec Marshal and Unmarshal for Token
  x/leverage/keeper/token.go
Labels: C:x/leverage, A:Automerge

#283 chore: x/oracle housekeeping
  x/oracle/client/cli/query.go
  x/oracle/client/cli/tx.go
  x/oracle/genesis.go
  x/oracle/keeper/alias_functions.go
  x/oracle/keeper/grpc_query.go
  x/oracle/keeper/msg_server.go
  x/oracle/keeper/params.go
  x/oracle/keeper/reward.go
  x/oracle/keeper/slash.go
Labels: C:x/oracle

#284 chore: x/oracle housekeeping
  x/oracle/types/asset.go
  x/oracle/types/ballot.go
  x/oracle/types/denom.go
  x/oracle/types/hash.go
  x/oracle/types/params.go
  x/oracle/types/querier.go
  x/oracle/types/test_utils.go
  x/oracle/types/vote.go
Labels: C:x/oracle

#285 chore: remove cross rate from x/oracle
  x/oracle/types/ballot.go
  x/oracle/types/ballot_test.go
Labels: C:x/oracle

#289 chore: proto cleanup
  proto/umee/peggy/v1/genesis.proto
  proto/umee/peggy/v1/query.proto
  proto/umee/peggy/v1/tx.proto
  x/leverage/types/leverage.pb.go
  x/leverage/types/query.pb.gw.go
  x/oracle/types/query.pb.gw.go
  x/peggy/types/genesis.pb.go
  x/peggy/types/msgs.pb.gw.go
  x/peggy/types/query.pb.go
  x/peggy/types/query.pb.gw.go
  x/peggy/types/tx.go
  x/peggy/types/tx.pb.go
  x/peggy/types/tx_test.go
Labels: C:x/peggy

#277 feat: x/oracle ballot counting
  proto/umee/oracle/v1beta1/oracle.proto
  x/oracle/abci.go
  x/oracle/client/cli/query.go
  x/oracle/keeper/ballot.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/params.go
  x/oracle/keeper/reward.go
  x/oracle/module.go
  x/oracle/types/asset.go
  x/oracle/types/ballot.go
  x/oracle/types/denom.go
  x/oracle/types/oracle.pb.go
  x/oracle/types/params.go
  x/oracle/types/params_test.go
  x/oracle/types/vote.go
Labels: C:x/oracle

#287 docs: ADR-007: Bad Debt
  docs/architecture/ADR-007-bad-debt.md
Labels: C:x/leverage, C:Docs

#290 refactor: price-feeder tests
  price-feeder/cmd/price-feeder.go
  price-feeder/oracle/client/client.go
  price-feeder/oracle/client/tx.go
  price-feeder/oracle/oracle.go
  price-feeder/oracle/oracle_test.go
  price-feeder/price-feeder.example.toml
  price-feeder/router/router.go
  price-feeder/router/v1/oracle.go
  price-feeder/router/v1/router.go
  price-feeder/router/v1/router_test.go
Labels: A:Automerge, C:Tools

#292 test: x/oracle keeper
  app/beta/app_beta.go
  x/oracle/keeper/keeper_test.go
Labels: C:x/oracle

#296 feat: Leverage Token Registry and Accept List Updates
  app/app.go
  app/beta/app.go
  proto/umee/leverage/v1beta1/leverage.proto
  x/leverage/client/cli/proposal.go
  x/leverage/client/cli/proposal_test.go
  x/leverage/client/cli/tx.go
  x/leverage/client/proposal_handler.go
  x/leverage/gov_handler.go
  x/leverage/gov_handler_test.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/token.go
  x/leverage/types/hooks.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/proposal.go
  x/leverage/types/token.go
  x/leverage/types/token_test.go
  x/oracle/abci.go
  x/oracle/keeper/ballot.go
  x/oracle/keeper/hook_test.go
  x/oracle/keeper/hooks.go
  x/oracle/keeper/keeper_test.go
  x/oracle/keeper/params.go
Labels: C:x/leverage, C:x/oracle

#298 refactor: collateral fix
  docs/architecture/ADR-003-borrow-assets.md
  x/leverage/keeper/borrows.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/exchange_rate.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/types/keys.go
Labels: C:x/leverage

#303 refactor: don't shut down the price feeder on errors
  price-feeder/oracle/oracle.go
Labels: C:x/oracle

#302 feat: enable beta support in starport/CI
  .github/workflows/tests.yml
  Makefile
  app/beta/app.go
  cmd/umeed/cmd/app_creator.go
  cmd/umeed/cmd/root.go
  go.mod
  go.sum
  price-feeder/cmd/price-feeder.go
  price-feeder/config/config.go
  price-feeder/go.mod
  price-feeder/go.sum
  price-feeder/oracle/client/client.go
  price-feeder/price-feeder.example.toml
  starport.ci.beta.yml
  x/leverage/abci.go
  x/leverage/module.go
  x/leverage/types/codec.go
  x/leverage/types/genesis.go
  x/oracle/types/codec.go
  x/peggy/types/codec.go
Labels: T:CI, C:Tools

#300 test: Add testing for x/oracle grpc querier and msg server
  x/oracle/keeper/grpc_query.go
  x/oracle/keeper/grpc_query_test.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/keeper_test.go
  x/oracle/keeper/msg_server_test.go
Labels: T:Test, C:x/oracle

#311 chore: price-feeder tweaks
  price-feeder/go.mod
  price-feeder/go.sum
  price-feeder/oracle/client/client.go
  price-feeder/oracle/oracle.go
Labels: A:Automerge, C:Tools

#312 refactor: normalize exchange rates
  x/oracle/keeper/keeper.go
  x/oracle/keeper/keeper_test.go
Labels: C:x/oracle

#307 feat: bad debt cleanup
  docs/architecture/ADR-007-bad-debt.md
  x/leverage/abci.go
  x/leverage/keeper/borrows.go
  x/leverage/keeper/interest.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/reserves.go
  x/leverage/types/events.go
  x/leverage/types/keys.go
Labels: C:x/leverage

#314 chore: x/oracle tally cleanup
  x/oracle/abci.go
Labels: A:Automerge, C:x/oracle

#313 feat: mock provider
  price-feeder/config/config.go
  price-feeder/oracle/oracle.go
  price-feeder/oracle/provider/mock.go
  price-feeder/oracle/provider/mock_test.go
  starport.ci.beta.yml
Labels: C:Tools

#308 feat: borrow limit restrictions
  x/leverage/keeper/borrows.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
Labels: C:x/leverage, A:Automerge

#317 feat: Liquidate command
  x/leverage/client/cli/tx.go
Labels: C:CLI, C:x/leverage, A:Automerge

#318 chore: MsgRepayAssetResponse and MsgLiquidateResponse
  proto/umee/leverage/v1beta1/tx.proto
  x/leverage/keeper/msg_server.go
  x/leverage/types/tx.pb.go
Labels: C:x/leverage, A:Automerge

#319 feat: x/oracle TX CLI commands
  x/oracle/client/cli/tx.go
  x/oracle/client/tests/cli_test.go
  x/oracle/client/tests/suite.go
Labels: C:CLI, C:x/oracle

#316 feat: x/oracle spamming prevention
  ante/ante.go
  ante/expected_keeper.go
  ante/fee.go
  ante/spamming_prevention.go
  app/beta/app.go
Labels: C:x/oracle

#325 feat: cli command to get a validator's delegated voter address
  x/oracle/client/cli/query.go
  x/oracle/client/tests/suite.go
  x/oracle/keeper/grpc_query.go
  x/oracle/keeper/grpc_query_test.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/keeper_test.go
  x/oracle/types/query.pb.gw.go
Labels: C:CLI, C:x/oracle

#320 feat: additional x/leverage queries
  app/beta/test_helpers.go
  proto/umee/leverage/v1beta1/query.proto
  x/leverage/client/cli/query.go
  x/leverage/client/tests/cli_test.go
  x/leverage/client/tests/suite.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/grpc_query.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
Labels: C:CLI, C:x/leverage

#326 refactor: update e2e tests to use beta app
  Dockerfile
  price-feeder/oracle/grpc.go
  price-feeder/oracle/oracle.go
  tests/e2e/chain.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/scripts/price_feeder_bootstrap.sh
  tests/e2e/validator.go
Labels: T:Test, C:x/oracle

#328 chore: import order
  app/beta/test_helpers.go
  x/leverage/client/tests/suite.go
Labels: C:x/leverage, A:Automerge

#330 fix: x/oracle USD check
  x/oracle/keeper/keeper.go
  x/oracle/types/asset.go
Labels: A:Automerge, C:x/oracle

#333 feat: price-feeder - add huobi provider
  price-feeder/config/config.go
  price-feeder/oracle/oracle.go
  price-feeder/oracle/provider/huobi.go
  price-feeder/oracle/provider/huobi_test.go
Labels: A:Automerge, C:Tools

#334 feat: price-feeder - osmosis provider support
  price-feeder/config/config.go
  price-feeder/oracle/oracle.go
  price-feeder/oracle/oracle_test.go
  price-feeder/oracle/provider/binance.go
  price-feeder/oracle/provider/binance_test.go
  price-feeder/oracle/provider/huobi.go
  price-feeder/oracle/provider/huobi_test.go
  price-feeder/oracle/provider/kraken.go
  price-feeder/oracle/provider/kraken_test.go
  price-feeder/oracle/provider/mock.go
  price-feeder/oracle/provider/mock_test.go
  price-feeder/oracle/provider/osmosis.go
  price-feeder/oracle/provider/osmosis_test.go
  price-feeder/oracle/provider/provider.go
  price-feeder/oracle/types/currency.go
Labels: C:Tools

#338 chore: Misspell check on ADR
  docs/architecture/ADR-001-interest-stream.md
  docs/architecture/ADR-002-deposit-assets.md
  docs/architecture/ADR-003-borrow-assets.md
  docs/architecture/ADR-004-interest-and-reserves.md
  docs/architecture/ADR-005-liquidation.md
  docs/architecture/ADR-007-bad-debt.md
  docs/architecture/README.md
Labels: P:Low, C:Docs

#331 fix: ensure safety against empty exchange rates
  x/leverage/keeper/oracle.go
  x/leverage/types/errors.go
Labels: C:x/leverage

#336 chore: price-feeder readme
  price-feeder/README.md
  price-feeder/config/config.go
  price-feeder/config/config_test.go
  price-feeder/price-feeder.example.toml
  tests/e2e/scripts/price_feeder_bootstrap.sh
Labels: A:Automerge, C:Docs

#337 test: ante tests
  ante/ante_test.go
  ante/fee_test.go
  ante/spam_prevention.go
  ante/spam_prevention_test.go
Labels: A:Automerge

#341 fix: nil oracle keeper in beta app
  app/beta/app.go
Labels: A:Automerge, C:x/oracle

#347 refactor: update genesis state CLI integration tests
  app/beta/test_helpers.go
  x/oracle/client/tests/suite.go
Labels: T:Test, C:x/oracle

#352 chore: add additional oracle CLI tests
  x/oracle/client/tests/suite.go
Labels: T:Test, A:Automerge, C:x/oracle
