Repository umee-network/umee, pull requests merged in 2021-10, with the labels that each got.

#135 chore: update deps
  go.mod
  go.sum
Labels: T:Dependencies, A:Automerge, S:backport/v0.2.x

#140 refactor: x/leverage - rename assets
  app/app.go
  proto/umee/leverage/v1beta1/genesis.proto
  proto/umee/leverage/v1beta1/gov.proto
  proto/umee/leverage/v1beta1/leverage.proto
  x/leverage/genesis.go
  x/leverage/gov_handler.go
  x/leverage/keeper/asset.go
  x/leverage/keeper/token.go
  x/leverage/types/asset.go
  x/leverage/types/asset_test.go
  x/leverage/types/genesis.go
  x/leverage/types/genesis.pb.go
  x/leverage/types/gov.pb.go
  x/leverage/types/keys.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/token.go
  x/leverage/types/token_test.go
Labels: C:x/leverage, A:Automerge

#141 docs: Small ADR-003 changes
  docs/architecture/ADR-003-borrow-assets.md
Labels: C:x/leverage, C:Docs

#134 feat: borrow and repay assets
  proto/umee/leverage/v1beta1/tx.proto
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/msg_server.go
  x/leverage/types/errors.go
  x/leverage/types/events.go
  x/leverage/types/keys.go
  x/leverage/types/tx.go
  x/leverage/types/tx.pb.go
Labels: C:x/leverage
