Repository umee-network/umee, pull requests merged in 2022-11, with the labels that each got.

#1525 feat: historacle proto files
  proto/umee/oracle/v1/genesis.proto
  proto/umee/oracle/v1/oracle.proto
  proto/umee/oracle/v1/query.proto
  x/oracle/keeper/grpc_query.go
  x/oracle/types/errors.go
  x/oracle/types/events.pb.go
  x/oracle/types/genesis.pb.go
  x/oracle/types/oracle.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
Labels: C:x/oracle

#1546 chore: bump cosmos-sdk to 0.46.4
  go.mod
  go.sum
  price-feeder/go.mod
  price-feeder/go.sum
Labels: T:Dependencies, A:Automerge

#1549 docs(leverage): update market params docs
  docs/design_docs/010-market-params.md
  proto/umee/leverage/v1/leverage.proto
  proto/umee/oracle/v1/oracle.proto
  swagger/swagger.yaml
  x/leverage/types/leverage.pb.go
  x/oracle/types/events.pb.go
  x/oracle/types/query.pb.gw.go
Labels: A:Automerge, C:Docs

#1537 docs: update and clean networks: use gov account
  networks/umee-1/README.md
  networks/umee-betanet-1/genesis.json
  networks/umee-betanet-2/genesis.json
  networks/umee-betanet-2/upgrade.md
  networks/umeemania-1/genesis.json
Labels: C:Docs

#1557 feat: add cosmovisor section
  README.md
  networks/canon-2/README.md
  networks/canon-2/genesis.json
  networks/canon-2/peers/node101.txt
Labels: P:Low, A:Automerge, C:Docs

#1547 feat!: cosmwasm an optional integration to app
  .goreleaser.yml
  Makefile
  ante/ante.go
  app/app.go
  app/experimental_appconfig.go
  app/stable_appconfig.go
  app/test_helpers.go
  app/upgrades.go
  cmd/umeed/cmd/app_creator.go
  contrib/images/price-feeder.Dockerfile
  contrib/images/umeed.Dockerfile
  go.mod
  go.sum
  price-feeder/.goreleaser.yml
  price-feeder/Makefile
  price-feeder/go.mod
  price-feeder/go.sum
  tests/simulation/sim_test.go
  umee.e2e.Dockerfile
  x/ibctransfer/keeper/util_test.go
Labels: A:Automerge, C:cosmwasm

#1558 fix: add peggo binary back to docker
  umee.e2e.Dockerfile
Labels: T:CI, A:Automerge

#1554 feat(price-feeder): Convert remaining providers to the Websocket Controller
  price-feeder/CHANGELOG.md
  price-feeder/Makefile
  price-feeder/oracle/provider/binance.go
  price-feeder/oracle/provider/binance_test.go
  price-feeder/oracle/provider/bitget.go
  price-feeder/oracle/provider/bitget_test.go
  price-feeder/oracle/provider/coinbase.go
  price-feeder/oracle/provider/coinbase_test.go
  price-feeder/oracle/provider/crypto.go
  price-feeder/oracle/provider/crypto_test.go
  price-feeder/oracle/provider/ftx.go
  price-feeder/oracle/provider/ftx_test.go
  price-feeder/oracle/provider/gate.go
  price-feeder/oracle/provider/gate_test.go
  price-feeder/oracle/provider/huobi.go
  price-feeder/oracle/provider/huobi_test.go
  price-feeder/oracle/provider/kraken.go
  price-feeder/oracle/provider/kraken_test.go
  price-feeder/oracle/provider/mexc.go
  price-feeder/oracle/provider/mexc_test.go
  price-feeder/oracle/provider/mock.go
  price-feeder/oracle/provider/okx.go
  price-feeder/oracle/provider/okx_test.go
  price-feeder/oracle/provider/osmosis.go
  price-feeder/oracle/provider/osmosisv2.go
  price-feeder/oracle/provider/osmosisv2_test.go
  price-feeder/oracle/provider/provider.go
  price-feeder/oracle/provider/websocket_controller.go
  price-feeder/oracle/provider/websocket_controller_test.go
  price-feeder/tests/integration/fixtures.go
  price-feeder/tests/integration/provider_test.go
Labels: C:Price-Feeder

#1555 chore: bump GB to enable slashing
  CHANGELOG.md
  RELEASE_NOTES.md
  go.mod
  go.sum
  price-feeder/go.mod
  price-feeder/go.sum
Labels: T:Dependencies, A:Automerge

#1567 chore: update deps
  CHANGELOG.md
  RELEASE_NOTES.md
  go.mod
  go.sum
  price-feeder/go.mod
  price-feeder/go.sum
Labels: T:Dependencies, A:Automerge

#1548 feat: Add keeper methods for historacle prices and medians
  proto/umee/oracle/v1/oracle.proto
  x/oracle/keeper/historic_price.go
  x/oracle/keeper/historic_price_test.go
  x/oracle/keeper/params.go
  x/oracle/simulations/genesis.go
  x/oracle/types/errors.go
  x/oracle/types/keys.go
  x/oracle/types/oracle.pb.go
  x/oracle/types/params.go
  x/oracle/types/params_test.go
Labels: C:x/oracle

#1538 chore: oracle cosmetic updates
  x/leverage/types/errors.go
  x/oracle/abci.go
  x/oracle/client/cli/tx.go
  x/oracle/keeper/ballot.go
  x/oracle/keeper/ballot_test.go
  x/oracle/keeper/msg_server.go
  x/oracle/keeper/reward.go
  x/oracle/types/ballot.go
  x/oracle/types/hash.go
  x/oracle/types/hash_test.go
  x/oracle/types/msgs.go
  x/oracle/types/vote.go
Labels: A:Automerge, C:x/oracle

#1572 feat: add experimental flag to oracle msg server
  app/app.go
  x/oracle/module.go
Labels: C:x/oracle

#1573 fix(oracle): historical iterator
  util/bytes.go
  util/bytes_test.go
  x/oracle/keeper/historic_price.go
  x/oracle/types/keys.go
Labels: A:Automerge, C:x/oracle

#1574 chore: update price-feeder config
  price-feeder/price-feeder.example.toml
Labels: A:Automerge, C:Docs, C:x/oracle, C:Price-Feeder

#1578 chore!: refactore store key constructors
  CHANGELOG.md
  x/leverage/keeper/invariants.go
  x/leverage/keeper/iter.go
  x/leverage/keeper/store.go
  x/leverage/keeper/token.go
  x/leverage/types/keys.go
  x/leverage/types/keys_test.go
  x/oracle/keeper/historic_price.go
  x/oracle/keeper/keeper.go
  x/oracle/types/keys.go
  x/oracle/types/keys_test.go
Labels: C:x/leverage, C:API, A:Automerge, C:x/oracle

#1486 feat: add `UpdateRegistry` msg for gov proposal to update the token registry
  app/app.go
  app/test_helpers.go
  proto/umee/leverage/v1/gov.proto
  proto/umee/leverage/v1/tx.proto
  x/leverage/README.md
  x/leverage/client/cli/proposal.go
  x/leverage/client/cli/proposal_test.go
  x/leverage/client/cli/tx.go
  x/leverage/client/proposal_handler.go
  x/leverage/gov_handler.go
  x/leverage/gov_handler_test.go
  x/leverage/keeper/internal_test.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/keeper/suite_test.go
  x/leverage/keeper/token.go
  x/leverage/types/codec.go
  x/leverage/types/errors.go
  x/leverage/types/gov.pb.go
  x/leverage/types/msgs.go
  x/leverage/types/proposal.go
  x/leverage/types/token_test.go
  x/leverage/types/tx.pb.go
Labels: A:Automerge

#1577 feat: liquidator query enabled by runtime flag
  CHANGELOG.md
  Makefile
  app/app.go
  cmd/umeed/cmd/root.go
  x/leverage/README.md
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/internal_test.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/suite_test.go
  x/leverage/module.go
  x/leverage/types/flag.go
Labels: C:x/leverage, A:Automerge

#1587 fix: remove ftx from default price-feeder config
  price-feeder/price-feeder.example.toml
Labels: A:Automerge

#1600 docs(price-feeder): changelog update
  price-feeder/CHANGELOG.md
Labels: A:Automerge, C:Docs, C:Price-Feeder

#1601 docs: add canon-2 GB details
  networks/canon-2/README.md
Labels: A:Automerge, C:Docs

#1603 ci: update price feeder backport
  .mergify.yml
Labels: T:CI, C:Price-Feeder

#1595 docs: update historacle spec
  docs/design_docs/011-historacle-pricing.md
Labels: A:Automerge, C:Docs, C:x/oracle

#1602 fix(price-feeder): remove ftx provider
  price-feeder/CHANGELOG.md
  price-feeder/README.md
  price-feeder/config/config.go
  price-feeder/oracle/oracle.go
  price-feeder/oracle/provider/ftx.go
  price-feeder/oracle/provider/ftx_test.go
  price-feeder/oracle/provider/provider.go
Labels: A:Automerge, C:Price-Feeder, S:backport/price-feeder/v2.x.x

#1593 feat: add oracle migration for v3.2
  app/upgrades.go
  x/oracle/keeper/migrations.go
  x/oracle/keeper/params.go
  x/oracle/module.go
Labels: A:Automerge, C:x/oracle, C:Core

#1611 fix(cli): fix the legacy sign issue of MsgDelegateFeedConsent
  x/oracle/types/keys.go
  x/oracle/types/msgs.go
Labels: C:x/oracle

#1607 chore: bump cosmos-sdk to 0.46.5
  app/app.go
  app/upgrades.go
  go.mod
  go.sum
  price-feeder/go.mod
  price-feeder/go.sum
Labels: T:Dependencies, A:Automerge

#1615 fix(price-feeder): Parse multiple candles from OsmosisV2 response
  price-feeder/CHANGELOG.md
  price-feeder/oracle/provider/osmosisv2.go
Labels: C:Price-Feeder, S:backport/price-feeder/v2.x.x

#1618 chore: update plan name for v3.2
  app/upgrades.go
Labels: A:Automerge

#1580 feat: Update oracle endblocker for historic pricing
  x/oracle/abci.go
  x/oracle/abci_test.go
  x/oracle/keeper/historic_price.go
  x/oracle/keeper/historic_price_test.go
  x/oracle/module.go
  x/oracle/types/params.go
  x/oracle/types/params_test.go
Labels: C:x/oracle

#1606 chore: make goreleaser cosmwasm compatible
  .github/workflows/release.yml
  .goreleaser.yml
  price-feeder/.goreleaser.yml
Labels: T:CI, A:Automerge

#1620 chore: v3.2 Release Notes
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
Labels: A:Automerge, C:Docs
