Repository umee-network/umee, pull requests merged in 2022-07, with the labels that each got.

#1085 chore: price-feeder changelog
  price-feeder/CHANGELOG.md
Labels: C:Docs, C:x/oracle

#1084 fix: price-feeder height subscription cleanup
  price-feeder/CHANGELOG.md
  price-feeder/oracle/client/chain_height.go
  price-feeder/oracle/client/client.go
Labels: T:Bug, C:x/oracle, C:Tools

#940 docs: ADR-4: max collateral utilization
  CHANGELOG.md
  docs/architecture/ADR-002-deposit-assets.md
  docs/architecture/ADR-003-borrow-assets.md
  docs/architecture/ADR-004-interest-and-reserves.md
  docs/architecture/ADR-006-oracle.md
  docs/architecture/ADR-008-borrow-tracking.md
  docs/architecture/README.md
  proto/umee/leverage/v1/leverage.proto
  x/leverage/keeper/borrows.go
  x/leverage/keeper/borrows_test.go
  x/leverage/keeper/interest.go
  x/leverage/keeper/keeper.go
  x/leverage/spec/01_concepts.md
  x/leverage/spec/README.md
  x/oracle/spec/02_state.md
Labels: C:x/leverage, C:Docs

#1029 feat!: allow amount-specific control of collateral
  CHANGELOG.md
  proto/umee/leverage/v1/genesis.proto
  proto/umee/leverage/v1/query.proto
  proto/umee/leverage/v1/tx.proto
  x/leverage/client/cli/query.go
  x/leverage/client/cli/tx.go
  x/leverage/client/tests/tests.go
  x/leverage/keeper/collateral_test.go
  x/leverage/keeper/genesis.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/store.go
  x/leverage/keeper/validate.go
  x/leverage/simulation/decoder.go
  x/leverage/simulation/genesis.go
  x/leverage/simulation/operations.go
  x/leverage/simulation/operations_test.go
  x/leverage/spec/04_messages.md
  x/leverage/spec/README.md
  x/leverage/types/codec.go
  x/leverage/types/errors.go
  x/leverage/types/events.go
  x/leverage/types/genesis.go
  x/leverage/types/genesis.pb.go
  x/leverage/types/keys.go
  x/leverage/types/keys_test.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
  x/leverage/types/tx.go
  x/leverage/types/tx.pb.go
Labels: C:CLI, C:x/leverage, C:API

#1094 feat: add total collateral function and query
  CHANGELOG.md
  proto/umee/leverage/v1/query.proto
  x/leverage/client/cli/query.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/keeper_test.go
  x/leverage/spec/03_queries.md
  x/leverage/types/leverage.pb.go
  x/leverage/types/query.pb.go
Labels: C:x/leverage, C:API

#1106 refactor!: Rename Lend to Supply
  CHANGELOG.md
  app/test_helpers.go
  docs/architecture/ADR-001-interest-stream.md
  docs/architecture/ADR-002-deposit-assets.md
  docs/architecture/ADR-003-borrow-assets.md
  docs/architecture/ADR-004-interest-and-reserves.md
  docs/architecture/ADR-008-borrow-tracking.md
  docs/architecture/ADR-009-liquidity-mining.md
  proto/umee/leverage/v1/leverage.proto
  proto/umee/leverage/v1/query.proto
  proto/umee/leverage/v1/tx.proto
  tests/e2e/e2e_setup_test.go
  x/leverage/client/cli/proposal_test.go
  x/leverage/client/cli/query.go
  x/leverage/client/cli/tx.go
  x/leverage/client/tests/tests.go
  x/leverage/gov_handler_test.go
  x/leverage/keeper/borrows_test.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/interest.go
  x/leverage/keeper/invariants.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/loaned.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/validate.go
  x/leverage/simulation/operations.go
  x/leverage/simulation/operations_test.go
  x/leverage/spec/01_concepts.md
  x/leverage/spec/02_state.md
  x/leverage/spec/03_queries.md
  x/leverage/spec/04_messages.md
  x/leverage/spec/05_endblock.md
  x/leverage/spec/06_events.md
  x/leverage/spec/README.md
  x/leverage/types/codec.go
  x/leverage/types/errors.go
  x/leverage/types/events.go
  x/leverage/types/keys.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
  x/leverage/types/token.go
  x/leverage/types/token_test.go
  x/leverage/types/tx.go
  x/leverage/types/tx.pb.go
Labels: C:CLI, C:x/leverage, C:API, C:Docs

#1086 docs: cleanup ADR-001
  docs/architecture/ADR-001-interest-stream.md
  docs/architecture/README.md
Labels: C:x/leverage, C:Docs

#1099 feat: add total-borrowed query
  CHANGELOG.md
  proto/umee/leverage/v1/query.proto
  x/leverage/client/cli/query.go
  x/leverage/client/tests/tests.go
  x/leverage/keeper/grpc_query.go
  x/leverage/spec/03_queries.md
  x/leverage/types/query.pb.go
Labels: C:x/leverage, C:API

#1096 feat(token registry): proto max collateral share
  CHANGELOG.md
  proto/umee/leverage/v1/leverage.proto
  x/leverage/spec/02_state.md
  x/leverage/types/leverage.pb.go
  x/leverage/types/token.go
  x/leverage/types/token_test.go
Labels: C:x/leverage, A:Automerge

#1087 docs: cleanup ADR-002
  docs/architecture/ADR-002-deposit-assets.md
  docs/architecture/ADR-008-borrow-tracking.md
Labels: C:x/leverage, C:Docs

#1113 chore(proto)!: rename amount fields with Coin type
  CHANGELOG.md
  docs/architecture/ADR-003-borrow-assets.md
  docs/architecture/ADR-009-liquidity-mining.md
  proto/umee/leverage/v1/tx.proto
  x/leverage/keeper/msg_server.go
  x/leverage/simulation/operations_test.go
  x/leverage/types/tx.go
  x/leverage/types/tx.pb.go
Labels: C:x/leverage, C:API, A:Automerge

#1110 feat: multi-quote deviation logic
  price-feeder/CHANGELOG.md
  price-feeder/oracle/convert.go
  price-feeder/oracle/convert_test.go
  price-feeder/oracle/oracle.go
  price-feeder/oracle/oracle_test.go
Labels: C:x/oracle, C:Tools, C:Price-Feeder

#1108 docs: update price-feeder readme config section
  price-feeder/README.md
Labels: A:Automerge, C:Docs, C:Price-Feeder

#1123 chore!: remove request suffix from leverage and oracle queries
  CHANGELOG.md
  price-feeder/oracle/oracle.go
  proto/umee/leverage/v1/query.proto
  proto/umee/oracle/v1/query.proto
  x/leverage/client/cli/query.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
  x/oracle/client/cli/query.go
  x/oracle/keeper/grpc_query.go
  x/oracle/keeper/grpc_query_test.go
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
Labels: C:x/leverage, C:API

#1122 chore!: rename leverage message types
  CHANGELOG.md
  docs/architecture/ADR-002-deposit-assets.md
  docs/architecture/ADR-003-borrow-assets.md
  docs/architecture/ADR-004-interest-and-reserves.md
  proto/umee/leverage/v1/tx.proto
  x/leverage/client/cli/tx.go
  x/leverage/client/tests/tests.go
  x/leverage/keeper/borrows_test.go
  x/leverage/keeper/collateral_test.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/validate.go
  x/leverage/simulation/operations.go
  x/leverage/simulation/operations_test.go
  x/leverage/spec/01_concepts.md
  x/leverage/spec/04_messages.md
  x/leverage/spec/06_events.md
  x/leverage/spec/README.md
  x/leverage/types/codec.go
  x/leverage/types/events.go
  x/leverage/types/tx.go
  x/leverage/types/tx.pb.go
Labels: C:x/leverage, C:API

#1120 chore: optimize build workflow
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/simulations.yml
  .github/workflows/tests.yml
Labels: T:CI, A:Automerge

#1125 refactor: remove proto getters
  CHANGELOG.md
  proto/umee/leverage/v1/genesis.proto
  proto/umee/leverage/v1/gov.proto
  proto/umee/leverage/v1/leverage.proto
  proto/umee/leverage/v1/query.proto
  proto/umee/leverage/v1/tx.proto
  proto/umee/oracle/v1/genesis.proto
  proto/umee/oracle/v1/oracle.proto
  proto/umee/oracle/v1/query.proto
  proto/umee/oracle/v1/tx.proto
  x/leverage/types/genesis.pb.go
  x/leverage/types/gov.pb.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/query.pb.go
  x/leverage/types/tx.go
  x/leverage/types/tx.pb.go
  x/oracle/types/genesis.pb.go
  x/oracle/types/oracle.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/tx.pb.go
Labels: C:x/leverage, A:Automerge, C:x/oracle

#1126 chore: update json tag APY to apy
  CHANGELOG.md
  proto/umee/leverage/v1/query.proto
  x/leverage/types/query.pb.go
Labels: C:x/leverage, C:API

#1130 chore: proto json tags to snake_case
  CHANGELOG.md
  proto/umee/leverage/v1/query.proto
  x/leverage/types/query.pb.go
Labels: C:x/leverage, C:API, A:Automerge

#1128 fix: license copyright
  LICENSE
Labels: A:Automerge

#1121 refactor: use cosmos telemetry package
  price-feeder/CHANGELOG.md
  price-feeder/cmd/price-feeder.go
  price-feeder/config/config.go
  price-feeder/config/config_test.go
  price-feeder/oracle/client/client.go
  price-feeder/oracle/filter.go
  price-feeder/oracle/oracle.go
  price-feeder/oracle/provider/binance.go
  price-feeder/oracle/provider/coinbase.go
  price-feeder/oracle/provider/gate.go
  price-feeder/oracle/provider/huobi.go
  price-feeder/oracle/provider/kraken.go
  price-feeder/oracle/provider/okx.go
  price-feeder/router/v1/metrics.go
  price-feeder/router/v1/router_test.go
  price-feeder/telemetry/metrics.go
  price-feeder/telemetry/metrics_test.go
  price-feeder/telemetry/wrapper.go
Labels: T:Dependencies, C:Price-Feeder

#1135 chore: price-feeder changelog update
  price-feeder/CHANGELOG.md
Labels: A:Automerge, S:backport/price-feeder/v0.2.x, C:Price-Feeder

#1140 refactor(proto)!: rename market size queries to total supplied
  CHANGELOG.md
  proto/umee/leverage/v1/query.proto
  x/leverage/client/cli/query.go
  x/leverage/client/tests/tests.go
  x/leverage/keeper/grpc_query.go
  x/leverage/spec/01_concepts.md
  x/leverage/spec/03_queries.md
  x/leverage/spec/README.md
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
Labels: C:CLI, C:x/leverage, C:API

#1147 feat(oracle): add query & cli for slashing window progress
  CHANGELOG.md
  proto/umee/oracle/v1/query.proto
  x/oracle/client/cli/query.go
  x/oracle/keeper/grpc_query.go
  x/oracle/keeper/grpc_query_test.go
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
Labels: A:Automerge, C:x/oracle

#1157 refactor: add PrintOrErr util function and improve devux in cli commands
  CHANGELOG.md
  util/cli/print.go
  x/leverage/client/cli/query.go
  x/oracle/client/cli/query.go
Labels: T:Client UX, T:Dev UX, A:Automerge

#1156 fix: propagate context
  CHANGELOG.md
  price-feeder/cmd/price-feeder.go
  price-feeder/oracle/oracle.go
  tests/e2e/e2e_setup_test.go
  x/oracle/client/cli/query.go
Labels: A:Automerge

#1169 fix: sync yaml version
  price-feeder/cmd/version.go
  price-feeder/go.mod
Labels: T:Dependencies, A:Automerge, C:Price-Feeder

#1170 feat(price-feeder): hardcoded accept quote list
  price-feeder/CHANGELOG.md
  price-feeder/config/config.go
Labels: A:Automerge, C:x/oracle, C:Price-Feeder

#1152 docs: market params design_doc
  docs/architecture/ADR-003-borrow-assets.md
  docs/architecture/README.md
  docs/design_docs/010-market-params.md
Labels: C:x/leverage, C:Docs

#1159 feat(proto)!: Add MaxCollateralShare, MinCollateralLiquidity, MaxSupplyUtilization
  CHANGELOG.md
  app/test_helpers.go
  go.mod
  go.sum
  price-feeder/go.mod
  price-feeder/go.sum
  proto/umee/leverage/v1/leverage.proto
  starport.ci.yml
  tests/e2e/e2e_setup_test.go
  x/leverage/client/tests/tests.go
  x/leverage/gov_handler_test.go
  x/leverage/keeper/genesis.go
  x/leverage/keeper/interest.go
  x/leverage/keeper/invariants.go
  x/leverage/keeper/iter.go
  x/leverage/keeper/keeper_test.go
  x/leverage/simulation/operations_test.go
  x/leverage/spec/02_state.md
  x/leverage/types/errors.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/query.pb.gw.go
  x/leverage/types/token.go
  x/leverage/types/token_test.go
Labels: C:x/leverage

#1172 docs: move ADRs to design_docs
  CONTRIBUTING.md
  docs/architecture/README.md
  docs/design_docs/001-interest-stream.md
  docs/design_docs/002-deposit-assets.md
  docs/design_docs/003-borrow-assets.md
  docs/design_docs/004-interest-and-reserves.md
  docs/design_docs/005-liquidation.md
  docs/design_docs/006-oracle.md
  docs/design_docs/007-bad-debt.md
  docs/design_docs/008-borrow-tracking.md
  docs/design_docs/009-liquidity-mining.md
  docs/design_docs/010-market-params.md
  docs/design_docs/README.md
  x/leverage/keeper/keeper.go
Labels: C:Docs

#1177 fix: update deprecated osmosis api endpoint
  price-feeder/CHANGELOG.md
  price-feeder/oracle/provider/osmosis.go
  price-feeder/oracle/provider/osmosis_test.go
Labels: A:Automerge, S:backport/price-feeder/v0.2.x, C:Price-Feeder

#1179 chore(price-feeder): improve provider logs
  price-feeder/CHANGELOG.md
  price-feeder/oracle/oracle.go
  price-feeder/oracle/provider/binance.go
  price-feeder/oracle/provider/binance_test.go
  price-feeder/oracle/provider/coinbase.go
  price-feeder/oracle/provider/coinbase_test.go
  price-feeder/oracle/provider/gate.go
  price-feeder/oracle/provider/gate_test.go
  price-feeder/oracle/provider/huobi.go
  price-feeder/oracle/provider/huobi_test.go
  price-feeder/oracle/provider/kraken.go
  price-feeder/oracle/provider/kraken_test.go
  price-feeder/oracle/provider/okx.go
  price-feeder/oracle/provider/okx_test.go
Labels: C:x/oracle, S:backport/price-feeder/v0.2.x, C:Price-Feeder

#1184 chore: pfcl++
  price-feeder/CHANGELOG.md
Labels: A:Automerge, S:backport/price-feeder/v0.2.x, C:Price-Feeder

#1176 fix: add missing grpc-web and set the project name
  Makefile
  proto/buf.gen.gogo.yaml
  x/leverage/types/leverage.pb.go
  x/leverage/types/query.pb.gw.go
  x/oracle/types/query.pb.gw.go
Labels: T:Bug, A:Automerge, C:Tools

#1186 chore: improve assertion style
  price-feeder/oracle/provider/binance_test.go
  price-feeder/oracle/provider/coinbase_test.go
  price-feeder/oracle/provider/gate_test.go
  price-feeder/oracle/provider/huobi_test.go
  price-feeder/oracle/provider/kraken_test.go
  price-feeder/oracle/provider/okx_test.go
  x/oracle/keeper/reward.go
Labels: T:Test, T:Dev UX
