Repository umee-network/umee, pull requests merged in 2022-06, with the labels that each got.

#946 chore: Remove image publishing from main umee repo (moving)
  .github/CODEOWNERS
  .github/actions/pack-and-distribute/action.yml
  .github/workflows/publish-images.yml
  infra/packer/.gitignore
  infra/packer/Dockerfile.build
  infra/packer/README.md
  infra/packer/bin/build-dist
  infra/packer/bin/pack-and-distribute
  infra/packer/bin/pack-and-distribute-only-docker
  infra/packer/umee-node-dist.pkr.hcl
Labels: T:CI, S:backport/v2.x.x

#858 docs: ADR-009 liquidity mining
  docs/architecture/ADR-009-liquidity-mining.md
Labels: C:Docs, C:x/incentive

#1008 fix: lint runner warnings
  .golangci.yml
Labels: T:CI, A:Automerge, C:Tools

#1012 chore: clarify negative time elapsed error
  CHANGELOG.md
  x/leverage/keeper/interest.go
Labels: C:x/leverage, S:backport/v2.x.x

#1010 fix: update GetLastInterestTime to handle nil value
  x/leverage/keeper/interest.go
Labels: C:x/leverage

#1024 docs: update readme
  README.md
Labels: A:Automerge, C:Docs

#1032 fix: update tvwapCandlePeriod from 3 minutes -> 5 minutes
  price-feeder/CHANGELOG.md
  price-feeder/oracle/util.go
Labels: A:Automerge, C:Tools, C:Audit

#1034 fix: proto package name
  go.sum
  proto/umee/leverage/v1/genesis.proto
  proto/umee/leverage/v1/gov.proto
  proto/umee/leverage/v1/leverage.proto
  proto/umee/leverage/v1/query.proto
  proto/umee/leverage/v1/tx.proto
  proto/umee/oracle/v1/genesis.proto
  proto/umee/oracle/v1/oracle.proto
  proto/umee/oracle/v1/query.proto
  proto/umee/oracle/v1/tx.proto
  x/leverage/types/genesis.pb.go
  x/leverage/types/gov.pb.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/query.pb.go
  x/leverage/types/tx.pb.go
  x/oracle/types/genesis.pb.go
  x/oracle/types/oracle.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/tx.pb.go
Labels: C:x/leverage, T:Client UX, C:x/oracle

#1048 chore: updated github templates
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: T:Dev UX, A:Automerge, C:Docs

#1038 feat!: make the price feeder's uris configurable
  price-feeder/CHANGELOG.md
  price-feeder/cmd/price-feeder.go
  price-feeder/config/config.go
  price-feeder/config/config_test.go
  price-feeder/oracle/oracle.go
  price-feeder/oracle/oracle_test.go
  price-feeder/oracle/provider/binance.go
  price-feeder/oracle/provider/binance_test.go
  price-feeder/oracle/provider/coinbase.go
  price-feeder/oracle/provider/coinbase_test.go
  price-feeder/oracle/provider/gate.go
  price-feeder/oracle/provider/gate_test.go
  price-feeder/oracle/provider/huobi.go
  price-feeder/oracle/provider/huobi_test.go
  price-feeder/oracle/provider/kraken.go
  price-feeder/oracle/provider/kraken_test.go
  price-feeder/oracle/provider/okx.go
  price-feeder/oracle/provider/okx_test.go
  price-feeder/oracle/provider/osmosis.go
  price-feeder/oracle/provider/osmosis_test.go
  price-feeder/price-feeder.example.toml
Labels: C:API, A:Automerge, C:x/oracle, C:Tools, C:Audit

#1050 feat!: cache get params for 200 blocks
  price-feeder/CHANGELOG.md
  price-feeder/oracle/oracle.go
  price-feeder/oracle/oracle_test.go
  price-feeder/oracle/param.go
  price-feeder/oracle/param_test.go
Labels: C:x/oracle, C:Tools, S:backport/price-feeder/v0.2.x

#1059 fix: gorelease from 1.18 compat to 1.17
  price-feeder/.goreleaser.yml
Labels: C:CLI, A:Automerge, C:Tools, S:backport/price-feeder/v0.2.x, C:Price-Feeder

#1063 chore: starport -> ignite/cli
  .github/workflows/tests.yml
  contrib/scripts/test_localnet_liveness.sh
  go.mod
  go.sum
  price-feeder/go.mod
  price-feeder/go.sum
  tools/tools.go
  x/leverage/types/query.pb.gw.go
  x/oracle/types/query.pb.gw.go
Labels: T:Dev UX, T:Dependencies, A:Automerge

#1062 chore: API and token registry renames
  app/test_helpers.go
  proto/umee/leverage/v1/leverage.proto
  starport.ci.yml
  tests/e2e/e2e_setup_test.go
  x/leverage/client/cli/proposal_test.go
  x/leverage/client/cli/tx.go
  x/leverage/client/tests/tests.go
  x/leverage/gov_handler.go
  x/leverage/gov_handler_test.go
  x/leverage/keeper/borrows.go
  x/leverage/keeper/borrows_test.go
  x/leverage/keeper/genesis.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/interest.go
  x/leverage/keeper/iter.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/oracle.go
  x/leverage/keeper/token.go
  x/leverage/keeper/validate.go
  x/leverage/simulation/operations.go
  x/leverage/simulation/operations_test.go
  x/leverage/spec/01_concepts.md
  x/leverage/spec/02_state.md
  x/leverage/types/leverage.pb.go
  x/leverage/types/token.go
  x/leverage/types/token_test.go
Labels: C:x/leverage
