Repository umee-network/umee, pull requests merged in 2022-03, with the labels that each got.

#586 feat: price-feeder: candlestick websocket subscriptions
  price-feeder/oracle/provider/binance.go
  price-feeder/oracle/provider/huobi.go
  price-feeder/oracle/provider/kraken.go
  price-feeder/oracle/provider/kraken_test.go
  price-feeder/oracle/provider/okx.go
  price-feeder/oracle/provider/provider.go
Labels: C:x/oracle, C:Tools, S:backport/price-feeder/v0.1.x

#594 chore: bump peggo, hermes, gaiad and price-feeder version
  Dockerfile
  infra/packer/Dockerfile.build
  infra/packer/bin/build-dist
  infra/packer/umee-node-dist.pkr.hcl
Labels: T:CI, T:Dependencies, S:backport/v0.8.x, C:Tools, Enable:ImagePublish

#592 feat: add SubscribeTickers func to providers
  price-feeder/CHANGELOG.md
  price-feeder/oracle/provider/binance.go
  price-feeder/oracle/provider/binance_test.go
  price-feeder/oracle/provider/huobi.go
  price-feeder/oracle/provider/huobi_test.go
  price-feeder/oracle/provider/kraken.go
  price-feeder/oracle/provider/okx.go
  price-feeder/oracle/provider/okx_test.go
Labels: C:x/oracle, C:Tools, S:backport/price-feeder/v0.1.x

#601 feat: tvwap calculations
  price-feeder/CHANGELOG.md
  price-feeder/oracle/oracle.go
  price-feeder/oracle/oracle_test.go
  price-feeder/oracle/provider/binance.go
  price-feeder/oracle/provider/huobi.go
  price-feeder/oracle/provider/huobi_test.go
  price-feeder/oracle/provider/kraken.go
  price-feeder/oracle/provider/mock.go
  price-feeder/oracle/provider/okx.go
  price-feeder/oracle/provider/osmosis.go
  price-feeder/oracle/provider/provider.go
  price-feeder/oracle/util.go
Labels: C:x/oracle, C:Tools, S:backport/price-feeder/v0.1.x

#605 chore: cleanup custom ante-handler godocs
  ante/fee.go
  ante/spam_prevention.go
Labels: C:Docs

#607 fix: price-feeder: correct kraken timestamp unit
  price-feeder/CHANGELOG.md
  price-feeder/oracle/provider/huobi.go
  price-feeder/oracle/provider/kraken.go
  price-feeder/oracle/provider/provider.go
Labels: A:Automerge, C:x/oracle, C:Tools, S:backport/price-feeder/v0.1.x

#612 chore: update x/leverage messages codec
  x/leverage/types/codec.go
Labels: C:x/leverage, S:backport/v0.8.x

#614 chore: update x/leverage codec.go
  x/leverage/types/codec.go
Labels: C:x/leverage, S:backport/v0.8.x

#610 refactor: split subscribe ticker and candle channels
  price-feeder/CHANGELOG.md
  price-feeder/oracle/provider/binance.go
  price-feeder/oracle/provider/huobi.go
  price-feeder/oracle/provider/kraken.go
  price-feeder/oracle/provider/okx.go
  price-feeder/oracle/provider/provider.go
Labels: C:x/oracle, C:Tools, S:backport/price-feeder/v0.1.x

#609 feat: faulty provider detection for tvwap
  price-feeder/CHANGELOG.md
  price-feeder/oracle/oracle.go
  price-feeder/oracle/provider/provider.go
  price-feeder/oracle/util.go
  price-feeder/oracle/util_test.go
Labels: A:Automerge, C:x/oracle, C:Tools, S:backport/price-feeder/v0.1.x

#617 feat: additional leverage queries
  proto/umee/leverage/v1beta1/query.proto
  proto/umee/leverage/v1beta1/tx.proto
  x/leverage/client/cli/query.go
  x/leverage/client/tests/suite.go
  x/leverage/keeper/borrows_test.go
  x/leverage/keeper/exchange_rate.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/loaned.go
  x/leverage/keeper/oracle.go
  x/leverage/simulation/operations.go
  x/leverage/spec/01_concepts.md
  x/leverage/spec/03_queries.md
  x/leverage/types/expected_types.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
  x/leverage/types/tx.pb.go
Labels: C:x/leverage, S:backport/v0.8.x

#611 feat: gate provider implementation
  price-feeder/config/config.go
  price-feeder/oracle/oracle.go
  price-feeder/oracle/oracle_test.go
  price-feeder/oracle/provider/gate.go
  price-feeder/oracle/provider/gate_test.go
  price-feeder/oracle/provider/mock.go
  price-feeder/oracle/provider/osmosis.go
  price-feeder/oracle/provider/provider.go
Labels: A:Automerge, C:x/oracle, C:Tools, S:backport/price-feeder/v0.1.x

#625 feat: price-feeder: add missing candles warning
  price-feeder/oracle/oracle.go
Labels: A:Automerge, C:Tools, S:backport/price-feeder/v0.1.x

#630 chore: E2E Test Suite GHCR
  .github/workflows/tests.yml
  Makefile
  tests/e2e/e2e_setup_test.go
Labels: T:Test, T:CI, S:backport/v0.8.x, S:backport/price-feeder/v0.1.x

#627 feat: split collateralWeight into collateralWeight and liquidationThreshold
  app/beta/test_helpers.go
  proto/umee/leverage/v1beta1/leverage.proto
  starport.ci.beta.yml
  tests/e2e/e2e_setup_test.go
  x/leverage/client/cli/proposal_test.go
  x/leverage/client/cli/tx.go
  x/leverage/client/tests/suite.go
  x/leverage/client/tests/util.go
  x/leverage/keeper/borrows.go
  x/leverage/keeper/borrows_test.go
  x/leverage/keeper/iter.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/token.go
  x/leverage/simulation/operations_test.go
  x/leverage/spec/01_concepts.md
  x/leverage/spec/02_state.md
  x/leverage/spec/README.md
  x/leverage/types/leverage.pb.go
  x/leverage/types/query.pb.go
  x/leverage/types/token.go
  x/leverage/types/token_test.go
Labels: C:x/leverage, S:backport/v0.8.x

#628 chore: bump price feeder to v0.1.2 in image builder
  infra/packer/Dockerfile.build
Labels: T:Dependencies, A:Automerge, S:backport/v0.8.x, C:Tools, Enable:ImagePublish

#634 chore: price-feeder housekeeping
  price-feeder/oracle/oracle.go
  price-feeder/oracle/util.go
  price-feeder/oracle/util_test.go
Labels: C:Tools, S:backport/price-feeder/v0.1.x

#640 chore: dockerfile e2e rename
  Makefile
  tests/e2e/e2e_setup_test.go
  umee.e2e.Dockerfile
Labels: T:CI

#645 chore: Remove beta + performance improvements to build (packer imaging)
  infra/packer/Dockerfile.build
  infra/packer/bin/build-dist
  infra/packer/umee-node-dist.pkr.hcl
Labels: T:Dependencies, C:Tools, Enable:ImagePublish

#646 feat: withdraw automatically converts base token denoms
  Makefile
  proto/umee/leverage/v1beta1/tx.proto
  x/leverage/keeper/keeper.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/tx.pb.go
Labels: C:x/leverage, S:backport/v0.8.x

#658 feat: CollateralValue and LiquidationLimit queries
  proto/umee/leverage/v1beta1/query.proto
  x/leverage/client/cli/query.go
  x/leverage/client/tests/suite.go
  x/leverage/keeper/grpc_query.go
  x/leverage/spec/03_queries.md
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
Labels: C:x/leverage, S:backport/v0.8.x

#649 feat: price-feeder: peggo integration
  price-feeder/CHANGELOG.md
  price-feeder/oracle/oracle.go
  price-feeder/oracle/oracle_test.go
  price-feeder/oracle/provider/binance.go
  price-feeder/oracle/provider/gate.go
  price-feeder/oracle/provider/huobi.go
  price-feeder/oracle/provider/kraken.go
  price-feeder/oracle/provider/mock.go
  price-feeder/oracle/provider/okx.go
  price-feeder/oracle/provider/okx_test.go
  price-feeder/oracle/provider/osmosis.go
  price-feeder/oracle/provider/osmosis_test.go
  price-feeder/oracle/provider/provider.go
  price-feeder/oracle/types/currency.go
Labels: C:x/oracle, C:Tools, S:backport/price-feeder/v0.1.x

#648 feat: price-feeder: coinbase provider
  price-feeder/CHANGELOG.md
  price-feeder/config/config.go
  price-feeder/oracle/oracle.go
  price-feeder/oracle/provider/coinbase.go
  price-feeder/oracle/provider/coinbase_test.go
Labels: C:x/oracle, C:Tools, S:backport/price-feeder/v0.1.x

#666 docs: price-feeder: clean up the changelog
  price-feeder/CHANGELOG.md
Labels: C:Docs, C:Tools, S:backport/price-feeder/v0.1.x

#673 feat: price-feeder: telemetry additions
  price-feeder/oracle/oracle.go
  price-feeder/oracle/provider/binance.go
  price-feeder/oracle/provider/coinbase.go
  price-feeder/oracle/provider/gate.go
  price-feeder/oracle/provider/huobi.go
  price-feeder/oracle/provider/kraken.go
  price-feeder/oracle/provider/okx.go
Labels: C:x/oracle, C:Tools, S:backport/price-feeder/v0.1.x

#675 fix: Oracle price feeders add verification of empty subscribed pairs
  price-feeder/CHANGELOG.md
  price-feeder/oracle/provider/binance.go
  price-feeder/oracle/provider/binance_test.go
  price-feeder/oracle/provider/coinbase.go
  price-feeder/oracle/provider/coinbase_test.go
  price-feeder/oracle/provider/gate.go
  price-feeder/oracle/provider/gate_test.go
  price-feeder/oracle/provider/huobi.go
  price-feeder/oracle/provider/huobi_test.go
  price-feeder/oracle/provider/kraken.go
  price-feeder/oracle/provider/kraken_test.go
  price-feeder/oracle/provider/okx.go
  price-feeder/oracle/provider/okx_test.go
Labels: A:Automerge, C:x/oracle, C:Tools, S:backport/price-feeder/v0.1.x

#679 feat: provider timeouts
  price-feeder/CHANGELOG.md
  price-feeder/cmd/price-feeder.go
  price-feeder/config/config.go
  price-feeder/oracle/oracle.go
  price-feeder/oracle/oracle_test.go
  tests/e2e/scripts/price_feeder_bootstrap.sh
Labels: C:x/oracle, C:Tools, S:backport/price-feeder/v0.1.x

#681 docs: update price-feeder changelog
  price-feeder/CHANGELOG.md
Labels: A:Automerge, C:Docs, C:Tools, S:backport/price-feeder/v0.1.x

#706 docs: update readme for v2
  README.md
Labels: A:Automerge, C:Docs, S:backport/v2.x.x

#707 ci: add backport workflow for 2.x.x
  .mergify.yml
Labels: T:CI, A:Automerge, S:backport/v2.x.x

#705 docs: Add state sync service
  networks/umee-1/README.md
Labels: S:backport/v2.x.x

#684 feat: price feeder unmarshal error logs
  price-feeder/CHANGELOG.md
  price-feeder/oracle/provider/binance.go
  price-feeder/oracle/provider/coinbase.go
  price-feeder/oracle/provider/gate.go
  price-feeder/oracle/provider/huobi.go
  price-feeder/oracle/provider/kraken.go
  price-feeder/oracle/provider/okx.go
Labels: A:Automerge, C:x/oracle, C:Tools, S:backport/price-feeder/v0.1.x

#711 chore: clarify negative interest time error message
  x/leverage/keeper/interest.go
Labels: C:x/leverage, S:backport/v2.x.x

#712 docs: changelog update
  CHANGELOG.md
Labels: A:Automerge, C:Docs, S:backport/v2.x.x

#716 chore: install junod, osmosisd on image; bump hermes & gaia
  infra/packer/umee-node-dist.pkr.hcl
Labels: T:CI, T:Dependencies, C:Tools, Enable:ImagePublish

#719 docs: readme cleanup
  README.md
  networks/umee-1/README.md
Labels: A:Automerge, C:Docs, S:backport/v2.x.x

#720 docs: price-feeder: readme cleanup
  price-feeder/README.md
Labels: A:Automerge, C:Docs, S:backport/price-feeder/v0.1.x

#723 feat: add param SmallLiquidationSize
  CHANGELOG.md
  proto/umee/leverage/v1beta1/leverage.proto
  x/leverage/keeper/keeper.go
  x/leverage/simulation/genesis.go
  x/leverage/simulation/params.go
  x/leverage/spec/07_params.md
  x/leverage/types/leverage.pb.go
  x/leverage/types/params.go
Labels: C:x/leverage, S:backport/v2.x.x
