Repository umee-network/umee, pull requests merged in 2022-04, with the labels that each got.

#730 feat: add randomness to mock provider
  price-feeder/CHANGELOG.md
  price-feeder/oracle/provider/mock.go
Labels: A:Automerge, C:x/oracle, C:Tools, S:backport/price-feeder/v0.1.x

#733 chore: Upgrade dependencies in built packer images
  infra/packer/Dockerfile.build
  infra/packer/umee-node-dist.pkr.hcl
Labels: Enable:ImagePublish, S:backport/v2.x.x

#729 feat: update gravity bridge to v1.5.0 + upgrade handler for Calypso (v2.0.0)
  app/app.go
  app/modules.go
  app/upgrades/calypso/constants.go
  app/upgrades/calypso/handler.go
  app/upgrades/register.go
  cmd/umeed/cmd/root.go
  go.mod
  go.sum
  price-feeder/go.mod
  price-feeder/go.sum
  tests/e2e/docker/ganache.Dockerfile
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_util_test.go
  tests/e2e/validator.go
  tests/simulation/state.go
  umee.e2e.Dockerfile
  x/ibctransfer/keeper/keeper_test.go
  x/leverage/client/tests/cli_test.go
  x/oracle/client/tests/cli_test.go
Labels: C:x/leverage, A:Automerge, C:x/oracle, S:backport/v2.x.x

#732 chore: Oracle methods to public
  price-feeder/CHANGELOG.md
  price-feeder/oracle/oracle.go
  price-feeder/oracle/oracle_test.go
  price-feeder/oracle/util.go
Labels: T:Test, A:Automerge, C:x/oracle, C:Tools, S:backport/price-feeder/v0.1.x

#741 ci: remove release notes from price feeder goreleaser
  .github/workflows/price-feeder-release.yml
  price-feeder/.goreleaser.yml
Labels: T:CI, A:Automerge, C:Tools

#743 chore: bump price-feeder in packer image to v0.2.0
  infra/packer/umee-node-dist.pkr.hcl
Labels: Enable:ImagePublish, S:backport/v2.x.x

#738 chore: versioning maintenance
  .mergify.yml
  README.md
  price-feeder/CHANGELOG.md
Labels: T:CI, C:Docs, C:Tools, S:backport/v2.x.x, S:backport/price-feeder/v0.2.x

#752 docs: changelog++
  CHANGELOG.md
Labels: C:Docs, S:backport/v2.x.x

#764 build(deps): Bump grpc and genproto
  go.mod
  go.sum
  x/leverage/types/query.pb.gw.go
  x/oracle/types/query.pb.gw.go
Labels: T:Dependencies, S:backport/v2.x.x, S:backport/price-feeder/v0.2.x

#765 chore: update starport version in liveness test
  .github/workflows/tests.yml
Labels: T:CI, S:backport/v2.x.x, S:backport/price-feeder/v0.2.x

#766 chore: price feeder imports umee/v2.0.0
  price-feeder/go.mod
  price-feeder/go.sum
  price-feeder/oracle/client/client.go
  price-feeder/oracle/oracle.go
  price-feeder/oracle/oracle_test.go
Labels: T:Dependencies, C:x/oracle, S:backport/v2.x.x, S:backport/price-feeder/v0.2.x

#775 docs: changelog update
  CHANGELOG.md
Labels: A:Automerge, C:Docs, S:backport/v2.x.x

#777 docs: price-feeder changelog update
  price-feeder/CHANGELOG.md
Labels: A:Automerge, C:Docs, C:Tools, S:backport/price-feeder/v0.2.x

#779 docs: price-feeder v0.2.1 changelog update
  price-feeder/CHANGELOG.md
Labels: A:Automerge, C:Docs, C:Tools, S:backport/price-feeder/v0.2.x

#781 test: x/oracle unit test cleanup
  x/oracle/types/ballot_test.go
  x/oracle/types/genesis_test.go
  x/oracle/types/hash_test.go
  x/oracle/types/test_utils.go
Labels: T:Test, C:x/oracle, S:backport/v2.x.x

#784 docs: changelog update
  CHANGELOG.md
Labels: A:Automerge, C:Docs, S:backport/v2.x.x

#782 test: increase x/oracle unit test coverage
  CHANGELOG.md
  x/oracle/types/denom_test.go
  x/oracle/types/keys_test.go
  x/oracle/types/test_utils.go
Labels: T:Test, C:x/oracle, S:backport/v2.x.x

#797 chore: format once with gofumpt
  ante/ante_test.go
  app/export.go
  app/modules.go
  cmd/umeed/cmd/app_creator.go
  price-feeder/oracle/client/client.go
  price-feeder/oracle/util.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/io.go
  tests/e2e/validator.go
  tools/tools.go
  x/ibctransfer/keeper/keeper.go
  x/ibctransfer/module.go
  x/leverage/client/cli/proposal_test.go
  x/leverage/client/tests/util.go
  x/leverage/keeper/invariants.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/msg_server.go
  x/leverage/module.go
  x/leverage/simulation/genesis.go
  x/leverage/simulation/operations.go
  x/leverage/types/expected_types.go
  x/leverage/types/keys.go
  x/leverage/types/tx.go
  x/oracle/keeper/keeper.go
  x/oracle/module.go
  x/oracle/simulations/operations.go
  x/oracle/types/expected_keeper.go
  x/oracle/types/genesis.go
  x/oracle/types/hash.go
  x/oracle/types/hash_test.go
  x/oracle/types/msgs.go
  x/oracle/types/vote.go
Labels: C:Tools, S:backport/v2.x.x, S:backport/price-feeder/v0.2.x

#803 chore: add go tool tip to makefile
  CHANGELOG.md
  Makefile
Labels: T:Test, S:backport/v2.x.x

#814 docs: add bitszn state sync and snapshot provider info
  networks/umee-1/README.md
Labels: C:Docs, S:backport/v2.x.x

#829 fix: liquidate command from-address
  CHANGELOG.md
  x/leverage/simulation/operations.go
  x/leverage/types/tx.go
Labels: C:x/leverage, S:backport/v2.x.x

#837 chore: add umeemania genesis file
  networks/umeemania-1/genesis.json
Labels: A:Automerge, S:backport/v2.x.x

#835 feat: x/oracle miss counter cli command
  CHANGELOG.md
  x/oracle/client/cli/query.go
Labels: C:CLI, C:x/oracle, S:backport/v2.x.x

#840 chore: changelog++
  CHANGELOG.md
Labels: A:Automerge, C:Docs, S:backport/v2.x.x

#846 docs: oracle example update
  x/oracle/spec/06_params.md
Labels: A:Automerge, C:Docs, C:x/oracle, S:backport/v2.x.x
