Repository umee-network/umee, pull requests merged in 2022-02, with the labels that each got.

#456 refactor: removed duplicated error check
  x/oracle/keeper/keeper.go
  x/oracle/keeper/keeper_test.go
Labels: S:backport/v0.7.x, C:x/oracle, C:Audit

#457 refactor: continue looping when Validator is nil
  x/oracle/keeper/reward.go
Labels: C:x/oracle, C:Audit

#462 chore: pin peggo v0.2.1 in image build
  infra/packer/Dockerfile.build
Labels: T:CI, T:Dependencies, S:backport/v0.7.x, C:Tools, Enable:ImagePublish

#458 fix: borrow limit restriction on SetCollateral and missing test
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
Labels: C:x/leverage, T:Test, A:Automerge, C:Audit

#464 chore: also target release branches for packer image build
  .github/workflows/publish-images.yml
Labels: T:CI, S:backport/v0.7.x, C:Tools, Enable:ImagePublish

#465 chore: bump peggo to v0.2.2
  infra/packer/Dockerfile.build
Labels: T:CI, T:Dependencies, S:backport/v0.7.x, C:Tools, Enable:ImagePublish

#460 fix: error instead of overwriting prevotes
  x/oracle/keeper/msg_server.go
  x/oracle/simulations/operations.go
  x/oracle/types/errors.go
Labels: A:Automerge, C:x/oracle, C:Audit

#468 fix: oracle msg GetSigners should not panic on err
  x/oracle/types/msgs.go
Labels: C:x/oracle, C:Audit

#470 chore: double cpu cores in packer build to reduce failure
  infra/packer/umee-node-dist.pkr.hcl
Labels: T:CI, C:Tools, Enable:ImagePublish

#461 fix: update oracle spec to clarify zero rewards
  x/oracle/spec/01_concepts.md
Labels: A:Automerge, C:x/oracle, C:Audit

#473 fix: image job not running because conditional logic is wrong
  .github/workflows/publish-images.yml
Labels: T:CI, C:Tools, Enable:ImagePublish

#475 fix: wait for cloud init during packer gcp build to avoid apt race condition
  infra/packer/umee-node-dist.pkr.hcl
Labels: T:CI, C:Tools, Enable:ImagePublish

#472 fix: image job not running for release because conditional logic is wrong
  .github/workflows/publish-images.yml
Labels: T:CI, C:Tools, Enable:ImagePublish

#477 fix: Add gravity proposal handler
  app/app.go
  app/beta/app.go
Labels: S:backport/v0.7.x

#481 chore: update peggo version in e2e tests
  Dockerfile
Labels: T:CI, S:backport/v0.7.x

#491 fix: WithdrawAsset - move error check to before coins.Sub to prevent panic
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
Labels: C:x/leverage, C:Audit

#434 docs: ADR-008
  docs/architecture/ADR-008-borrow-tracking.md
Labels: C:x/leverage, C:Docs

#483 feat: AdjustedBorrow and InterestScalar
  proto/umee/leverage/v1beta1/genesis.proto
  proto/umee/leverage/v1beta1/leverage.proto
  x/leverage/abci.go
  x/leverage/client/tests/suite.go
  x/leverage/genesis.go
  x/leverage/gov_handler_test.go
  x/leverage/keeper/borrows.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/exchange_rate.go
  x/leverage/keeper/genesis.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/interest.go
  x/leverage/keeper/invariants.go
  x/leverage/keeper/iter.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/lend.go
  x/leverage/keeper/reserves.go
  x/leverage/keeper/store.go
  x/leverage/keeper/token.go
  x/leverage/simulation/decoder.go
  x/leverage/simulation/genesis.go
  x/leverage/simulation/operations.go
  x/leverage/simulation/operations_test.go
  x/leverage/simulation/params.go
  x/leverage/spec/01_concepts.md
  x/leverage/spec/02_state.md
  x/leverage/spec/05_endblock.md
  x/leverage/spec/06_events.md
  x/leverage/spec/07_params.md
  x/leverage/spec/README.md
  x/leverage/types/errors.go
  x/leverage/types/events.go
  x/leverage/types/genesis.go
  x/leverage/types/genesis.pb.go
  x/leverage/types/genesis_test.go
  x/leverage/types/keys.go
  x/leverage/types/keys_test.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/params.go
Labels: C:x/leverage

#493 fix: x/oracle integer overflow
  x/oracle/types/ballot.go
  x/oracle/types/ballot_test.go
Labels: A:Automerge, C:x/oracle, C:Audit

#500 ci: add release workflow for the price-feeder
  .github/workflows/price-feeder-release.yml
  price-feeder/.goreleaser.yml
  price-feeder/go.sum
Labels: T:CI

#499 test: leverage module test coverage
  x/leverage/keeper/borrows.go
  x/leverage/keeper/borrows_test.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/collateral_test.go
  x/leverage/keeper/genesis.go
  x/leverage/keeper/interest.go
  x/leverage/keeper/internal_test.go
  x/leverage/keeper/iter.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/reserves.go
  x/leverage/keeper/store.go
  x/leverage/keeper/token.go
  x/leverage/simulation/operations_test.go
  x/leverage/types/errors.go
Labels: C:x/leverage, T:Test, A:Automerge

#508 fix: possible divisions by zero in LiquidateBorrow
  x/leverage/keeper/keeper.go
Labels: C:x/leverage, C:Audit

#517 fix: enable ledger support
  CHANGELOG.md
  Makefile
Labels: S:backport/v0.7.x, S:backport/v1.x.x

#524 fix: fix e2e test failures
  Dockerfile
Labels: S:backport/v0.7.x, S:backport/v1.x.x

#527 fix: e2e tests
  Dockerfile
Labels: S:backport/v0.7.x, S:backport/v1.x.x

#502 feat: faulty provider detection
  price-feeder/oracle/oracle.go
  price-feeder/oracle/util.go
  price-feeder/oracle/util_test.go
Labels: A:Automerge, C:x/oracle, C:Tools, S:backport/price-feeder/v0.1.x

#504 fix: track uToken supply manually
  proto/umee/leverage/v1beta1/genesis.proto
  x/leverage/keeper/exchange_rate.go
  x/leverage/keeper/genesis.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/iter.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/store.go
  x/leverage/simulation/genesis.go
  x/leverage/spec/01_concepts.md
  x/leverage/spec/02_state.md
  x/leverage/types/expected_types.go
  x/leverage/types/genesis.go
  x/leverage/types/genesis.pb.go
  x/leverage/types/keys.go
Labels: C:x/leverage, C:Audit

#532 fix: prevent complete liquidation threshold = 0
  x/leverage/types/params.go
Labels: C:x/leverage, C:Audit

#533 docs: update leverage spec
  x/leverage/spec/01_concepts.md
Labels: C:x/leverage, C:Docs, C:Audit

#536 feat: price-feeder: force a minimum of three providers
  price-feeder/CHANGELOG.md
  price-feeder/config/config.go
  price-feeder/config/config_test.go
Labels: C:Tools, S:backport/price-feeder/v0.1.x

#522 feat: add Okx price feeder
  price-feeder/config/config.go
  price-feeder/oracle/oracle.go
  price-feeder/oracle/oracle_test.go
  price-feeder/oracle/provider/okx.go
  price-feeder/oracle/provider/okx_test.go
Labels: C:CLI, C:x/oracle, C:Tools

#548 docs: price-feeder: add okx PR to the changelog
  price-feeder/CHANGELOG.md
Labels: A:Automerge, C:Docs

#540 feat: use environment variables / stdinput for keyring pass
  price-feeder/CHANGELOG.md
  price-feeder/README.md
  price-feeder/cmd/price-feeder.go
  price-feeder/config/config.go
  price-feeder/config/config_test.go
  price-feeder/price-feeder.example.toml
  tests/e2e/e2e_setup_test.go
  tests/e2e/scripts/price_feeder_bootstrap.sh
Labels: C:CLI, A:Automerge, C:x/oracle, C:Tools, S:backport/price-feeder/v0.1.x

#552 fix: stop requiring telemetry during config validation
  price-feeder/CHANGELOG.md
  price-feeder/config/config.go
  price-feeder/config/config_test.go
Labels: C:x/oracle, C:Tools, S:backport/price-feeder/v0.1.x

#556 refactor: debug addr cmd
  CHANGELOG.md
  cmd/umeed/cmd/debug.go
  cmd/umeed/cmd/root.go
Labels: C:CLI, A:Automerge, S:backport/v1.x.x

#551 feat: update Binance provider to use WebSocket
  price-feeder/CHANGELOG.md
  price-feeder/oracle/oracle.go
  price-feeder/oracle/provider/binance.go
  price-feeder/oracle/provider/binance_test.go
  price-feeder/oracle/provider/okx.go
  price-feeder/oracle/provider/okx_test.go
  price-feeder/oracle/provider/provider.go
Labels: C:x/oracle, C:Tools, C:Audit

#566 chore: update deps
  price-feeder/go.mod
  price-feeder/go.sum
Labels: T:Dependencies, A:Automerge, S:backport/price-feeder/v0.1.x

#569 feat: Huobi provider to WS
  price-feeder/CHANGELOG.md
  price-feeder/oracle/oracle.go
  price-feeder/oracle/provider/binance.go
  price-feeder/oracle/provider/binance_test.go
  price-feeder/oracle/provider/huobi.go
  price-feeder/oracle/provider/huobi_test.go
  price-feeder/oracle/provider/okx.go
  price-feeder/oracle/provider/okx_test.go
  price-feeder/oracle/provider/provider.go
Labels: C:x/oracle, C:Tools, C:Audit, S:backport/price-feeder/v0.1.x

#574 fix: only register metrics endpoint with tel enabled
  price-feeder/CHANGELOG.md
  price-feeder/router/v1/router.go
Labels: A:Automerge, C:x/oracle, C:Tools, C:Audit

#579 feat: user-controlled minimum liquidation limits
  proto/umee/leverage/v1beta1/tx.proto
  x/leverage/client/cli/tx.go
  x/leverage/client/tests/suite.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/msg_server.go
  x/leverage/simulation/operations.go
  x/leverage/spec/01_concepts.md
  x/leverage/spec/04_messages.md
  x/leverage/types/errors.go
  x/leverage/types/tx.go
  x/leverage/types/tx.pb.go
Labels: C:x/leverage, C:Audit

#582 chore: e2e + dep updates
  Dockerfile
  tests/e2e/docker/hermes.Dockerfile
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_util_test.go
  tests/e2e/scripts/hermes_bootstrap.sh
Labels: T:Test, T:CI, T:Dependencies

#580 feat: Kraken provider to WS
  price-feeder/CHANGELOG.md
  price-feeder/oracle/oracle.go
  price-feeder/oracle/provider/binance.go
  price-feeder/oracle/provider/binance_test.go
  price-feeder/oracle/provider/huobi.go
  price-feeder/oracle/provider/huobi_test.go
  price-feeder/oracle/provider/kraken.go
  price-feeder/oracle/provider/kraken_test.go
  price-feeder/oracle/provider/okx.go
  price-feeder/oracle/provider/okx_test.go
  price-feeder/oracle/provider/provider.go
Labels: A:Automerge, C:x/oracle, C:Tools, C:Audit, S:backport/price-feeder/v0.1.x

#587 chore: price-feeder: clean up logs
  price-feeder/CHANGELOG.md
  price-feeder/oracle/provider/binance.go
  price-feeder/oracle/provider/huobi.go
  price-feeder/oracle/provider/kraken.go
  price-feeder/oracle/provider/okx.go
Labels: C:x/oracle, S:backport/price-feeder/v0.1.x
