Repository umee-network/umee, pull requests merged in 2022-01, with the labels that each got.

#340 test: x/leverage CLI tests
  x/leverage/client/tests/cli_test.go
  x/leverage/client/tests/suite.go
  x/leverage/keeper/grpc_query.go
  x/oracle/client/tests/suite.go
  x/oracle/keeper/keeper.go
Labels: C:CLI, C:x/leverage

#355 feat: cli integration tests - registry update helper
  app/app.go
  app/beta/app.go
  app/beta/test_helpers.go
  x/leverage/client/tests/suite.go
  x/leverage/client/tests/util.go
  x/leverage/types/codec.go
Labels: C:CLI, C:x/leverage, T:Test, A:Automerge

#363 refactor: remove oracle vote abstaining
  x/oracle/abci.go
  x/oracle/keeper/ballot.go
  x/oracle/types/errors.go
  x/oracle/types/msgs_test.go
  x/oracle/types/vote.go
  x/oracle/types/vote_test.go
Labels: C:x/oracle

#356 refactor: update price feeder failure modes
  price-feeder/oracle/oracle.go
  price-feeder/oracle/oracle_test.go
  price-feeder/oracle/util.go
  price-feeder/oracle/util_test.go
Labels: C:x/oracle, C:Tools

#348 feat: add query to get the borrow APY
  proto/umee/leverage/v1beta1/query.proto
  x/leverage/client/cli/query.go
  x/leverage/client/tests/suite.go
  x/leverage/keeper/borrows.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/interest.go
  x/leverage/types/keys.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
Labels: C:CLI, C:x/leverage, C:gRPC

#367 feat: Query Lend APY
  proto/umee/leverage/v1beta1/query.proto
  x/leverage/client/cli/query.go
  x/leverage/client/tests/suite.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/interest.go
  x/leverage/keeper/lend.go
  x/leverage/types/keys.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
  x/oracle/types/query.pb.gw.go
Labels: C:CLI, C:x/leverage, C:gRPC

#377 chore: x/oracle: clean up keys
  x/oracle/keeper/keeper.go
  x/oracle/types/keys.go
Labels: A:Automerge, C:x/oracle

#375 docs: x/oracle spec
  x/oracle/spec/01_concepts.md
  x/oracle/spec/02_state.md
  x/oracle/spec/03_end_block.md
  x/oracle/spec/04_messages.md
  x/oracle/spec/05_events.md
  x/oracle/spec/06_params.md
  x/oracle/spec/README.md
Labels: C:Docs, C:x/oracle

#376 feat: Query Market Size
  proto/umee/leverage/v1beta1/query.proto
  x/leverage/client/cli/query.go
  x/leverage/client/tests/suite.go
  x/leverage/keeper/grpc_query.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
Labels: C:CLI, C:x/leverage, C:gRPC

#380 chore: app tweaks
  app/app.go
  app/beta/app.go
  tests/e2e/e2e_setup_test.go
  x/oracle/client/tests/suite.go
  x/oracle/keeper/grpc_query_test.go
  x/oracle/keeper/hook_test.go
  x/oracle/keeper/keeper_test.go
Labels: A:Automerge

#379 feat: Query Available for Borrow
  proto/umee/leverage/v1beta1/query.proto
  x/leverage/client/cli/query.go
  x/leverage/client/tests/suite.go
  x/leverage/keeper/borrows.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/reserves.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
Labels: C:CLI, C:x/leverage, C:gRPC

#381 chore: price-feeder: handle wrong tx response code
  price-feeder/oracle/client/client.go
  price-feeder/price-feeder.example.toml
Labels: A:Automerge, C:x/oracle, C:Tools

#371 docs: leverage module spec
  x/leverage/spec/01_concepts.md
  x/leverage/spec/02_state.md
  x/leverage/spec/03_queries.md
  x/leverage/spec/04_messages.md
  x/leverage/spec/05_endblock.md
  x/leverage/spec/06_events.md
  x/leverage/spec/07_params.md
  x/leverage/spec/README.md
Labels: C:x/leverage, C:Docs

#383 fix: reserve factor reduces lend APY
  x/leverage/keeper/interest.go
  x/leverage/keeper/keeper_test.go
Labels: C:x/leverage, A:Automerge

#384 chore: e2e tests - bump peggo
  Dockerfile
Labels: T:Test, A:Automerge, S:backport/v0.6.x

#385 feat: List the Borrower Addr Eligible for Liquidation
  x/leverage/client/tests/suite.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/interest.go
  x/leverage/keeper/keeper_test.go
  x/leverage/types/keys.go
  x/leverage/types/keys_test.go
Labels: C:CLI, C:x/leverage, C:gRPC

#387 test: more x/oracle keeper tests
  x/oracle/keeper/ballot_test.go
  x/oracle/keeper/hooks_test.go
  x/oracle/keeper/keeper_test.go
  x/oracle/keeper/reward_test.go
  x/oracle/keeper/slash_test.go
Labels: T:Test, C:x/oracle

#386 feat: enable simulations
  .github/workflows/simulations.yml
  .golangci.yml
  Makefile
  app/app.go
  app/beta/app.go
  go.mod
  go.sum
  tests/simulation/sim_test.go
  tests/simulation/state.go
  tests/util/ethereum.go
Labels: T:Test, T:Simulations

#382 feat: price-feeder telemetry
  price-feeder/cmd/price-feeder.go
  price-feeder/config/config.go
  price-feeder/config/config_test.go
  price-feeder/oracle/client/client.go
  price-feeder/oracle/oracle.go
  price-feeder/price-feeder.example.toml
  price-feeder/router/v1/metrics.go
  price-feeder/router/v1/response.go
  price-feeder/router/v1/router.go
  price-feeder/router/v1/router_test.go
  price-feeder/telemetry/metrics.go
  price-feeder/telemetry/metrics_test.go
  price-feeder/telemetry/wrapper.go
  tests/e2e/scripts/price_feeder_bootstrap.sh
Labels: C:x/oracle, C:Tools

#393 chore: bump hermes to 0.10.0 for e2e tests
  tests/e2e/docker/hermes.Dockerfile
Labels: T:Test, T:CI, T:Dependencies, S:backport/v0.6.x

#391 feat: oracle rewards funded by a portion of borrow interest
  proto/umee/leverage/v1beta1/leverage.proto
  x/leverage/keeper/interest.go
  x/leverage/keeper/oracle.go
  x/leverage/spec/01_concepts.md
  x/leverage/spec/05_endblock.md
  x/leverage/spec/07_params.md
  x/leverage/types/expected_types.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/params.go
  x/oracle/spec/01_concepts.md
Labels: C:x/leverage, A:Automerge, C:x/oracle

#388 feat: Re-add Gravity Bridge gentx
  cmd/umeed/cmd/root.go
  go.mod
  go.sum
  tests/e2e/chain.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
  tests/e2e/orchestrator.go
  tests/e2e/validator.go
Labels: C:CLI, A:Automerge, S:backport/v0.6.x, C:x/peggy

#397 refactor: remove k.GetTotalBorrows error return
  x/leverage/keeper/borrows.go
  x/leverage/keeper/exchange_rate.go
  x/leverage/keeper/interest.go
  x/leverage/keeper/lend.go
Labels: C:x/leverage

#398 fix: Remove gravity bridge collect-gentxs
  cmd/umeed/cmd/root.go
Labels: C:CLI, S:backport/v0.6.x

#396 feat: interest epoch and fund oracle events
  x/leverage/keeper/interest.go
  x/leverage/keeper/oracle.go
  x/leverage/spec/06_events.md
  x/leverage/types/events.go
Labels: C:x/leverage, C:Docs

#392 feat: leverage invariants
  x/leverage/keeper/borrows.go
  x/leverage/keeper/exchange_rate.go
  x/leverage/keeper/invariants.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/module.go
  x/leverage/types/keys.go
  x/leverage/types/keys_test.go
Labels: C:x/leverage

#345 build: Packer CI Automation for generating gcp & docker images
  .github/CODEOWNERS
  .github/actions/pack-and-distribute/action.yml
  .github/workflows/publish-images.yml
  infra/packer/.gitignore
  infra/packer/Dockerfile.build
  infra/packer/README.md
  infra/packer/bin/build-dist
  infra/packer/bin/pack-and-distribute
  infra/packer/bin/pack-and-distribute-only-docker
  infra/packer/umee-node-dist.pkr.hcl
Labels: T:CI, T:Dev UX, S:backport/v0.6.x, C:Tools, Enable:ImagePublish

#406 fix: use ApproxSqrt instead of math.Sqrt for calculating standard deviation
  x/oracle/types/ballot.go
  x/oracle/types/ballot_test.go
Labels: A:Automerge, C:x/oracle

#407 chore: remove old BankKeeper comment
  x/leverage/types/expected_types.go
Labels: C:x/leverage, A:Automerge

#403 chore: bump SDK version to v0.45.0
  app/app.go
  app/beta/app.go
  app/beta/test_helpers.go
  app/test_helpers.go
  go.mod
  go.sum
  tests/e2e/e2e_test.go
  tests/network/network.go
  tests/network/util.go
  x/ibctransfer/keeper/keeper_test.go
  x/ibctransfer/keeper/util_test.go
  x/leverage/client/tests/suite.go
  x/oracle/client/tests/suite.go
Labels: T:Dependencies, A:Automerge

#410 refactor: SpendableCoins replaces GetBalance for non-module accounts
  x/leverage/keeper/keeper.go
  x/leverage/types/expected_types.go
Labels: C:x/leverage

#405 feat: x/oracle simulations
  app/beta/app.go
  x/oracle/module.go
  x/oracle/simulations/decoder.go
  x/oracle/simulations/genesis.go
  x/oracle/simulations/operations.go
  x/oracle/simulations/params.go
Labels: C:x/oracle

#412 fix: leverage genesis state
  proto/umee/leverage/v1beta1/genesis.proto
  proto/umee/leverage/v1beta1/query.proto
  x/leverage/genesis.go
  x/leverage/keeper/borrows.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/exchange_rate.go
  x/leverage/keeper/interest.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/lend.go
  x/leverage/keeper/reserves.go
  x/leverage/types/errors.go
  x/leverage/types/genesis.go
  x/leverage/types/genesis.pb.go
  x/leverage/types/genesis_test.go
  x/leverage/types/query.go
  x/leverage/types/query.pb.go
Labels: C:x/leverage, A:Automerge

#418 fix: ensure only votes for AcceptListed denoms are recorded
  x/oracle/keeper/keeper_test.go
  x/oracle/keeper/msg_server.go
  x/oracle/keeper/msg_server_test.go
  x/oracle/types/denom.go
  x/oracle/types/errors.go
Labels: T:Test, C:x/oracle

#420 chore: Update Gravity Bridge to v1.3.3
  go.mod
  go.sum
Labels: S:backport/v0.6.x

#425 chore: remove unused variable reassignment in Liquidate
  x/leverage/keeper/keeper.go
Labels: C:x/leverage

#421 fix: price-feeder: filter out exchange rates which aren't in our acceptlist
  price-feeder/go.mod
  price-feeder/go.sum
  price-feeder/oracle/oracle.go
  price-feeder/oracle/oracle_test.go
Labels: C:x/oracle, C:Tools

#426 fix: interest epoch when LastInterestTime == 0
  x/leverage/keeper/interest.go
Labels: C:x/leverage, A:Automerge

#428 build: improvements in image building reliability
  infra/packer/Dockerfile.build
  infra/packer/bin/pack-and-distribute
  infra/packer/umee-node-dist.pkr.hcl
Labels: T:CI, C:Tools, Enable:ImagePublish

#431 build: set exit code every time instead of only on failure for bash loop
  infra/packer/umee-node-dist.pkr.hcl
Labels: T:CI, C:Tools, Enable:ImagePublish

#401 feat: x/leverage simulations
  app/beta/app.go
  x/leverage/module.go
  x/leverage/simulation/decoder.go
  x/leverage/simulation/genesis.go
  x/leverage/simulation/operations.go
  x/leverage/simulation/operations_test.go
  x/leverage/simulation/params.go
  x/leverage/types/expected_types.go
Labels: C:x/leverage, T:Simulations

#439 chore: update deps
  .github/workflows/tests.yml
  go.mod
  go.sum
  x/oracle/types/denom.go
  x/oracle/types/hash.go
  x/oracle/types/hash_test.go
  x/oracle/types/params.go
  x/oracle/types/vote.go
Labels: T:Dependencies, A:Automerge, S:backport/v0.7.x

#441 chore: update dependabot
  .github/dependabot.yml
Labels: T:CI, T:Dependencies

#447 chore: update hermes to 0.11
  infra/packer/umee-node-dist.pkr.hcl
  tests/e2e/docker/hermes.Dockerfile
Labels: T:CI, T:Dependencies, C:Tools, Enable:ImagePublish

#433 feat: Leverage Operations Test
  x/leverage/simulation/operations.go
  x/leverage/simulation/operations_test.go
  x/leverage/types/tx.go
Labels: C:x/leverage, T:Simulations
