Repository umee-network/umee, pull requests merged in 2023-05, with the labels that each got.

#2015 feat: ugov module proto
  ante/fee.go
  proto/umee/ugov/v1/events.proto
  proto/umee/ugov/v1/genesis.proto
  proto/umee/ugov/v1/query.proto
  proto/umee/ugov/v1/tx.proto
  x/ugov/events.pb.go
  x/ugov/genesis.pb.go
  x/ugov/query.pb.go
  x/ugov/query.pb.gw.go
  x/ugov/tx.pb.go
Labels: C:Core

#2028 chore: skip e2e test on github actions with label
  .github/workflows/simulations.yml
  .github/workflows/tests.yml
  app/export.go
Labels: skip-e2e-test

#2025 feat: incentive APY query and rewards height query
  proto/umee/incentive/v1/query.proto
  x/incentive/expected_keepers.go
  x/incentive/keeper/grpc_query.go
  x/incentive/keeper/grpc_query_test.go
  x/incentive/keeper/mock_test.go
  x/incentive/keeper/program.go
  x/incentive/keeper/reward.go
  x/incentive/keeper/update.go
  x/incentive/query.pb.go
  x/incentive/query.pb.gw.go
Labels: C:x/incentive, skip-e2e-test

#2029 feat: ugov msgserver
  proto/umee/ugov/v1/events.proto
  util/coin/dec.go
  util/coin/fixtures.go
  x/incentive/query.pb.go
  x/ugov/events.pb.go
  x/ugov/keeper/fees.go
  x/ugov/keeper/fees_test.go
  x/ugov/keeper/keeper.go
  x/ugov/keeper/keys.go
  x/ugov/keeper/msg_server.go
  x/ugov/keeper/query_server.go
  x/ugov/keeper/unit_test.go
  x/ugov/keys.go
  x/ugov/msg_test.go
Labels: skip-e2e-test

#2030 feat: simplify store generics
  util/store/store.go
  util/store/store_test.go
  util/store/types.go
  x/incentive/keeper/genesis.go
  x/incentive/keeper/hooks.go
  x/incentive/keeper/keys.go
  x/incentive/keeper/store.go
  x/ugov/msg_test.go
Labels: skip-e2e-test

#2035 chore: use cli.PrintOrErr
  x/incentive/client/cli/query.go
  x/oracle/client/cli/query.go
Labels: skip-e2e-test

#2037 chore: speedup e2e by removing docker cache
  .github/workflows/tests.yml
Labels: T:CI

#2038 unify util tsdk and store packages
  tests/tsdk/codec.go
  tests/tsdk/store.go
  tests/util/store.go
  util/store/iter_test.go
  util/store/store_test.go
  x/oracle/keeper/historic_avg_test.go
Labels: skip-e2e-test

#2031 test: incentive CLI tests and url simplifications
  proto/umee/incentive/v1/query.proto
  x/incentive/client/cli/query.go
  x/incentive/client/tests/cli_test.go
  x/incentive/client/tests/suite.go
  x/incentive/client/tests/tests.go
  x/incentive/keeper/grpc_query.go
  x/incentive/keeper/iter.go
  x/incentive/keeper/reward.go
  x/incentive/query.pb.go
  x/incentive/query.pb.gw.go
Labels: C:x/incentive

#2050 feat: ugov module
  proto/umee/ugov/v1/genesis.proto
  x/ugov/codec.go
  x/ugov/genesis.go
  x/ugov/genesis.pb.go
  x/ugov/genesis_test.go
  x/ugov/keeper/fees.go
  x/ugov/keeper/fees_test.go
  x/ugov/keeper/genesis.go
  x/ugov/keeper/genesis_test.go
  x/ugov/keeper/msg_server.go
  x/ugov/keeper/query_server.go
  x/ugov/module/module.go
  x/ugov/msg.go
Labels: skip-e2e-test

#2049 feat: ugov spec
  x/ugov/README.md
Labels: C:Docs

#2059 chore: move uibc store keys to keeper
  x/uibc/keys.go
  x/uibc/msg.go
  x/uibc/quota/keeper/keys.go
  x/uibc/quota/keeper/params.go
  x/uibc/quota/keeper/quota.go
Labels: skip-e2e-test

#2063 chore: add wasm to upgrade handler v4.5
  app/app.go
  app/upgrades.go
Labels: skip-e2e-test

#2076 docs: docs for cosmwasm native module queries and msgs
  app/app.go
  docs/cosmwasm.md
Labels: skip-e2e-test
