Repository umee-network/umee, pull requests merged in 2023-01, with the labels that each got.

#1654 feat: leverage + historacle
  CHANGELOG.md
  app/test_helpers.go
  x/leverage/keeper/borrows.go
  x/leverage/keeper/borrows_test.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/iter.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/keeper_test.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/liquidate.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/keeper/oracle.go
  x/leverage/keeper/oracle_test.go
  x/leverage/keeper/suite_test.go
  x/leverage/keeper/supply.go
  x/leverage/simulation/operations.go
  x/leverage/simulation/operations_test.go
  x/leverage/types/errors.go
  x/leverage/types/expected_types.go
Labels: C:x/leverage, A:Automerge, C:x/oracle

#1677 perf: update e2e docker
  Makefile
  app/modules.go
  contrib/images/umee.e2e-static.dockerfile
  contrib/images/umee.e2e.dockerfile
  contrib/images/umeed.dockerfile
  tests/e2e/e2e_setup_test.go
Labels: T:CI, A:Automerge

#1683 feat!: MaxBorrow query and modify MaxWithdraw to return all denoms
  CHANGELOG.md
  proto/umee/leverage/v1/query.proto
  swagger/swagger.yaml
  x/leverage/client/cli/query.go
  x/leverage/client/tests/tests.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/oracle.go
  x/leverage/types/errors.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
Labels: C:CLI, C:x/leverage, C:API, A:Automerge

#1691 chore: change v3.4 to v4.0
  app/upgrades.go
  x/oracle/keeper/migrations.go
Labels: A:Automerge

#1690 feat: add MsgMaxBorrow
  CHANGELOG.md
  proto/umee/leverage/v1/tx.proto
  x/leverage/README.md
  x/leverage/client/cli/tx.go
  x/leverage/client/tests/tests.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/types/codec.go
  x/leverage/types/errors.go
  x/leverage/types/tx.go
  x/leverage/types/tx.pb.go
Labels: A:Automerge

#1687 ci(tests): historacle e2e
  .gitignore
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/scripts/price_feeder_bootstrap.sh
  tests/grpc/chain_height.go
  tests/grpc/grpc.go
  tests/grpc/historical.go
  tests/grpc/key.go
  tests/grpc/price_store.go
  tests/grpc/tx.go
  tests/grpc/umee_client.go
Labels: A:Automerge

#1708 perf: optimize docker builds
  contrib/images/price-feeder.dockerfile
  contrib/images/umee.e2e-static.dockerfile
  contrib/images/umee.e2e.dockerfile
  contrib/images/umeed.dockerfile
  x/leverage/types/msgs.go
Labels: T:CI, A:Automerge

#1684 docs: historacle Avg spec
  docs/design_docs/011-historacle-pricing.md
  docs/design_docs/README.md
Labels: A:Automerge, C:Docs, C:x/oracle

#1711 feat: add historic pricing info to leverage queries
  CHANGELOG.md
  proto/umee/leverage/v1/query.proto
  swagger/swagger.yaml
  x/leverage/client/tests/tests.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/types/query.pb.go
Labels: C:x/leverage, A:Automerge, C:x/oracle

#1710 fix: skip blacklisted tokens in QueryMaxBorrow and QueryMaxWithdraw
  CHANGELOG.md
  x/leverage/keeper/grpc_query.go
Labels: A:Automerge

#1713 docs: Update 005-liquidation.md
  docs/design_docs/005-liquidation.md
Labels: A:Automerge, C:Docs

#1706 fix: add err check in e2e historacle tests
  tests/grpc/historical.go
Labels: T:Test, A:Automerge

#1709 feat(price-feeder): no password input if keyring is test
  price-feeder/cmd/price-feeder.go
Labels: A:Automerge

#1715 feat: add spot_borrow_limit to account summary and use min borrow limit
  CHANGELOG.md
  proto/umee/leverage/v1/query.proto
  swagger/swagger.yaml
  x/incentive/genesis.pb.go
  x/incentive/incentive.pb.go
  x/incentive/query.pb.go
  x/incentive/tx.pb.go
  x/leverage/client/tests/tests.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/types/query.pb.go
Labels: A:Automerge

#1723 feat!: compute borrow limit and borrowed value using safer logic during mixed price movement
  CHANGELOG.md
  Makefile
  proto/umee/leverage/v1/query.proto
  swagger/swagger.yaml
  x/leverage/client/tests/tests.go
  x/leverage/keeper/borrows.go
  x/leverage/keeper/borrows_test.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/iter.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/liquidate.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/oracle.go
  x/leverage/keeper/oracle_test.go
  x/leverage/simulation/operations.go
  x/leverage/types/errors.go
  x/leverage/types/oracle.go
  x/leverage/types/query.pb.go
Labels: C:x/leverage, C:x/oracle

#1694 fix!: leverage.MaxBorrow return zero instead of failing when there is no more to borrow
  CHANGELOG.md
  proto/umee/leverage/v1/leverage.proto
  proto/umee/leverage/v1/tx.proto
  swagger/swagger.yaml
  util/sdkutil/coin.go
  x/leverage/client/cli/query.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/keeper/store.go
  x/leverage/keeper/validate.go
  x/leverage/types/errors.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/queries.go
  x/leverage/types/queries_test.go
  x/leverage/types/token.go
  x/leverage/types/tx.pb.go
Labels: C:x/leverage, A:Automerge

#1729 feat: register rc4 upgrade
  app/upgrades.go
Labels: A:Automerge, S:backport/v4.0.x

#1736 fix: oracle accept list no longer automatically adds blacklisted tokens
  CHANGELOG.md
  x/oracle/keeper/hooks.go
  x/oracle/keeper/hooks_test.go
Labels: C:x/leverage, C:x/oracle

#1740 chore: update Cosmos SDK
  .gitignore
  go.mod
  go.sum
  price-feeder/go.mod
  price-feeder/go.sum
Labels: T:Dependencies, A:Automerge

#1739 fix: spell
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
  app/experimental_appconfig.go
  app/stable_appconfig.go
  app/upgrades.go
  app/upgradev3/staking_util_test.go
  app/upgradev3x3/migrate.go
  docs/design_docs/003-borrow-assets.md
  docs/design_docs/004-interest-and-reserves.md
  docs/design_docs/007-bad-debt.md
  docs/design_docs/008-borrow-tracking.md
  networks/canon-2/README.md
  price-feeder/CHANGELOG.md
  price-feeder/config/config.go
  price-feeder/oracle/provider/huobi.go
  price-feeder/oracle/provider/kraken.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/scripts/hermes_bootstrap.sh
  tests/util/ethereum.go
  util/genmap/genmap.go
  x/ibctransfer/keeper/keeper_test.go
  x/leverage/README.md
  x/leverage/keeper/reserves_test.go
  x/leverage/simulation/operations_test.go
  x/oracle/types/errors.go
  x/oracle/types/utils_test.go
Labels: A:Automerge, C:Docs

#1744 docs: testing guidelines
  Makefile
  contrib/scripts/mockgen.sh
  docs/testing.md
Labels: T:Test, A:Automerge, C:Docs

#1752 fix: proto spell
  proto/umee/leverage/v1/query.proto
  proto/umee/oracle/v1/query.proto
  swagger/swagger.yaml
  x/leverage/types/query.pb.go
  x/oracle/types/query.pb.go
Labels: A:Automerge, C:Docs

#1568 feat!: ibc transfer quota
  app/app.go
  proto/umee/uibc/v1/events.proto
  proto/umee/uibc/v1/genesis.proto
  proto/umee/uibc/v1/query.proto
  proto/umee/uibc/v1/quota.proto
  proto/umee/uibc/v1/tx.proto
  starport.ci.yml
  x/leverage/README.md
  x/leverage/keeper/internal_test.go
  x/leverage/keeper/keeper.go
  x/uibc/README.md
  x/uibc/client/cli/query.go
  x/uibc/client/cli/tx.go
  x/uibc/codec.go
  x/uibc/errors.go
  x/uibc/events.pb.go
  x/uibc/expected_keepers.go
  x/uibc/genesis.go
  x/uibc/genesis.pb.go
  x/uibc/ics20/ibc_module.go
  x/uibc/ics20/keeper/keeper.go
  x/uibc/ics20/keeper/keeper_test.go
  x/uibc/ics20/keeper/util_test.go
  x/uibc/keys.go
  x/uibc/module/abci.go
  x/uibc/module/module.go
  x/uibc/msg.go
  x/uibc/params.go
  x/uibc/params_test.go
  x/uibc/query.pb.go
  x/uibc/query.pb.gw.go
  x/uibc/quota.pb.go
  x/uibc/quota/ibc_module.go
  x/uibc/quota/ics4_wrapper.go
  x/uibc/quota/keeper/genesis.go
  x/uibc/quota/keeper/grpc_query.go
  x/uibc/quota/keeper/keeper.go
  x/uibc/quota/keeper/msg_server.go
  x/uibc/quota/keeper/params.go
  x/uibc/quota/keeper/quota.go
  x/uibc/quota/keeper/relay.go
  x/uibc/tx.pb.go
Labels: C:IBC

#1761 fix: ibc quota iterator
  x/uibc/keys.go
  x/uibc/quota/keeper/quota.go
Labels: T:Bug, A:Automerge, C:IBC

#1764 chore: adding calls to util.Panic
  util/error.go
  x/leverage/abci.go
  x/leverage/keeper/genesis.go
  x/leverage/keeper/iter.go
  x/leverage/keeper/store.go
  x/oracle/genesis.go
  x/oracle/keeper/slash.go
  x/oracle/module.go
  x/uibc/module/abci.go
  x/uibc/module/module.go
  x/uibc/quota/keeper/genesis.go
Labels: A:Automerge

#1768 feat: New example config for small cap assets
  price-feeder/config/config.go
  price-feeder/oracle/convert.go
  price-feeder/oracle/provider/osmosisv2.go
  price-feeder/price-feeder.example.toml
Labels: C:Price-Feeder
