Repository umee-network/umee, pull requests merged in 2023-03, with the labels that each got.

#1884 tests: avg keeper shift and cycle tests
  x/oracle/keeper/historic_avg.go
  x/oracle/keeper/historic_avg_test.go
Labels: T:Test, C:x/oracle

#1885 tests: avg keeper halt check
  x/oracle/keeper/historic_avg.go
  x/oracle/keeper/historic_avg_test.go
Labels: T:Test, C:x/oracle

#1886 feat(historacle): avg price query
  proto/umee/oracle/v1/query.proto
  swagger/swagger.yaml
  x/oracle/keeper/grpc_query.go
  x/oracle/keeper/grpc_query_test.go
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
Labels: C:x/oracle

#1890 chore: simplify e2e queries
  tests/e2e/e2e_ibc_test.go
  tests/e2e/e2e_util_test.go
Labels: T:Test

#1887 feat(hisoracle): move Avg Shift and Period to Keeper
  x/oracle/keeper/historic_avg.go
  x/oracle/keeper/historic_avg_test.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/params.go
Labels: C:x/oracle

#1896 feat(uibc): support total outflows in outflows query
  proto/umee/leverage/v1/leverage.proto
  proto/umee/uibc/v1/query.proto
  swagger/swagger.yaml
  tests/e2e/e2e_ibc_test.go
  tests/e2e/e2e_util_test.go
  x/leverage/types/leverage.pb.go
  x/uibc/client/tests/query_test.go
  x/uibc/query.pb.go
  x/uibc/query.pb.gw.go
  x/uibc/quota/keeper/grpc_query.go
  x/uibc/quota/keeper/grpc_query_test.go
Labels: C:x/oracle

#1905 chore: more avg tests
  tests/e2e/e2e_ibc_test.go
  tests/grpc/client/tx/gov.go
  x/oracle/keeper/historic_avg.go
  x/oracle/keeper/historic_avg_test.go
  x/uibc/quota/keeper/grpc_query_test.go
Labels: T:Test

#1908 chore: add patch to codecov
  .github/workflows/tests.yml
  codecov.yml
Labels: T:CI

#1910 chore: v4.2 upgrade handler name
  app/upgrades.go
Labels: C:Core

#1911 fix: e2e interface assertion
  tests/e2e/e2e_util_test.go
Labels: T:Bug, T:Test

#1912 fix: ibc status default value
  proto/umee/uibc/v1/events.proto
  proto/umee/uibc/v1/quota.proto
  proto/umee/uibc/v1/tx.proto
  x/uibc/codec.go
  x/uibc/events.pb.go
  x/uibc/msg.go
  x/uibc/msg_test.go
  x/uibc/params.go
  x/uibc/quota.pb.go
  x/uibc/quota/keeper/genesis_test.go
  x/uibc/quota/keeper/msg_server.go
  x/uibc/quota/keeper/msg_server_test.go
  x/uibc/quota/keeper/params.go
  x/uibc/quota/keeper/params_test.go
  x/uibc/tx.pb.go
Labels: C:IBC

#1902 chore: v4.2 Release Notes
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
Labels: C:Docs

#1922 docs: update information about db backend
  Makefile
  README.md
Labels: T:Dependencies, C:Docs

#1879 feat: incentive program queries and messages
  util/store/iter.go
  x/incentive/errors.go
  x/incentive/keeper/grpc_query.go
  x/incentive/keeper/iter.go
  x/incentive/keeper/msg_server.go
  x/incentive/keeper/params.go
  x/incentive/keeper/program.go
  x/incentive/keeper/store.go
  x/incentive/params.go
Labels: C:x/incentive

#1923 lint: fix and improve lint setup
  Makefile
  price-feeder/go.mod
  price-feeder/go.sum
  price-feeder/tools/tools.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/keys.go
Labels: T:Dependencies, C:Tools

#1935 docs: update release notes with peggo gas-prices
  RELEASE_NOTES.md
Labels: C:Docs

#1945 docs: adding more instructions about price feeder config
  price-feeder/README.md
Labels: C:Docs

#1929 fix: take into account the Total Available Liquidity and Collateral when MaxWithdraw
  .gitignore
  CHANGELOG.md
  x/leverage/README.md
  x/leverage/keeper/collateral.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/msg_server_test.go
Labels: C:x/leverage

#1956 feat(leverage): liquidation threshold must be bigger than collateral_weight
  CHANGELOG.md
  proto/umee/leverage/v1/leverage.proto
  swagger/swagger.yaml
  x/incentive/query.pb.go
  x/incentive/query.pb.gw.go
  x/leverage/client/tests/suite.go
  x/leverage/client/tests/tests.go
  x/leverage/fixtures/token.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/iter_test.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/keeper/suite_test.go
  x/leverage/keeper/token_test.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/token.go
  x/leverage/types/token_test.go
Labels: C:x/leverage

#1957 fix: amount reserved per block rounds up
  CHANGELOG.md
  x/leverage/keeper/interest.go
Labels: C:x/leverage

#1954 fix: adapt MaxBorrow to limit it considering MinCollateralLiquidity and MaxSupplyUtilization
  CHANGELOG.md
  x/leverage/README.md
  x/leverage/keeper/borrows.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/msg_server_test.go
Labels: C:x/leverage

#1959 chore: update ibc and related dependencies
  RELEASE_NOTES.md
  ante/ante.go
  app/app.go
  app/experimental_appconfig.go
  go.mod
  go.sum
  tests/simulation/sim_test.go
  util/ibc/ibc.go
  util/ibc/ibc_test.go
  x/uibc/ics20/ibc_module.go
  x/uibc/ics20/ibc_module_test.go
  x/uibc/ics20/keeper/keeper.go
  x/uibc/ics20/keeper/keeper_test.go
  x/uibc/ics20/keeper/util_test.go
  x/uibc/quota/ibc_module.go
  x/uibc/quota/ics4_wrapper.go
  x/uibc/quota/keeper/keeper.go
  x/uibc/quota/keeper/keeper_test.go
  x/uibc/quota/keeper/relay.go
Labels: T:Dependencies, C:IBC

#1963 feat: integrate ICA
  CHANGELOG.md
  app/app.go
  app/upgrades.go
Labels: C:IBC

#1756 docs: liquidation manual
  README.md
  x/leverage/LIQUIDATION.md
  x/leverage/README.md
Labels: C:x/leverage, C:Docs

#1967 feat: GB phase out phase2: disable cosmos -> ethereum transfers
  go.mod
  go.sum
Labels: C:Core

#1966 chore: update cosmwasm wiring
  app/app.go
  app/experimental_appconfig.go
  app/stable_appconfig.go
Labels: C:cosmwasm

#1968 fix: genesis type cast
  CHANGELOG.md
  x/leverage/keeper/genesis.go
  x/leverage/keeper/genesis_test.go
Labels: T:Bug, C:x/leverage
